/*TODO*/
.catalogPage-nav-borders {
    width: 100%;
    border-top: 4px solid white;
    border-right: 4px solid white;
    border-left: 4px solid white;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.catalogPage-item-right {
    background-color: #c8c8c8;
    width: 100%;
    border-top-right-radius: 1.6rem;
}


.catalogPage-item-left {
    background-color: #c8c8c8;
    width: 100%;
    border-top-left-radius: 1.6rem;
}

.catalogPage-items {
    background-color: #c8c8c8;
    border-right: 4px solid white;
    border-left: 4px solid white;
    border-bottom: 1px solid black;
}

.catalogPage-active-element {
    background-color: #3f5b5c;
}

.catalogPage-button {
    background-color: #3f5b5c;
    color: white;
    border: none;
}