.admins-tables {
  background: white;
  border-radius: 0.8rem;
}

.admins-tables-header {
  border-top: hidden
}

.category-image {
  height: 50px;
}

.btn-secondary {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.btn-secondary:hover {
  color: #000;
  background-color: #f5f5ff;
  border-color: #6c757d;
}

.container {
  margin-top: 20px;
}

.create-course {
  margin: auto;
  text-align: center;
  width: 50%
}

.category-header {
  color: white;
}

.chosen-image {
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

.choose-image {
  height: 100px;
  border: dashed 3px #C5C7C9;
  cursor: pointer;
  background-color: white;
  padding-top: 40px;
  text-align: center;
}

.modal-image {
  margin: 4px;
  width: 120px;
  height: 120px;
  cursor: pointer;
}

.modal-body div {
  display: inline-block;
}

.modal-body {
  background-color: white;
}

.modal-footer {
  background-color: whitesmoke;
}

.modal-lg {
  max-width: 700px;
}

textarea {
  resize: none;
  overflow-x: hidden;
}

.btn-create-course {
  cursor: pointer;
}

.input-file {
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.input-file + label {
  width: 120px;
  height: 120px;
  cursor: pointer;
  font-weight: 700;
  display: inline-block;
  text-align: center;
}

.input-file:focus + label,
.input-file + label:hover {
  background-color: gray;
}

.input-file:focus + label,
.input-file + label:hover,
.incorrect-file {
  background-color: white;
}

.form-control {
  height: auto
}

.incorrect-file {
  border-style: solid;
  color: #FF0000;
  padding-top: 8px;
  font-size: 70%;
}

.correct-file {
  font-size: 1.45em;
  padding-top: 8px;
  border-style: dotted;
}
