<div class="container">
  <div class="row">
    <div class="col-lg-8 col-xs-12 col-sm-6">
      <h1 class="font-color-white header-text">All Users</h1>
    </div>
    <div class="col-lg-4 col-xs-12 col-sm-6">
      <input type="text" placeholder="Search by e-mail" [(ngModel)]="usersListFilter"/>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped admins-tables">
        <tr class="admins-tables-header">
          <th *ngFor="let column of courseColumns"
              [class.header-item]="column.nameColumnParam === selectedSortedParam.nameColumnParam"
              (click)="sortBy(column)">
            {{column.nameColumnForDisplay}} {{column.symbolSorting}}
          </th>
        </tr>
        <tr *ngFor="let user of users | usersFilter:usersListFilter">
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.accountStatus}}</td>
          <td>
            <div [routerLink]="['/admin/users', getUserLink(user.self)]">
              <button class="btn btn-secondary"><i class="fa fa-eye"></i> More</button>
            </div>
          </td>
          <td>
            <button class="btn btn-secondary" data-toggle="modal"
                    (click)="assignUser(user)" data-target="#setPoints">
              <i class="fa fa-money" aria-hidden="true"></i> Set points
            </button>
          </td>
        </tr>
      </table>
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li *ngIf="currentPage > 1; else disabledFirst" class="page-item"><a class="page-link"
                                                                               (click)="getUsers(1)">First</a></li>
          <ng-template #disabledFirst>
            <li class="page-item disabled"><a class="page-link" (click)="getUsers(1)">First</a></li>
          </ng-template>
          <li class="page-item"><a class="page-link" *ngIf="currentPage > 1" (click)="getUsers(currentPage - 1)">{{currentPage
            - 1}}</a></li>
          <li class="active"><a class="page-link" (click)="getUsers(currentPage)">{{currentPage}}</a></li>
          <li class="page-item"><a class="page-link" *ngIf="currentPage < lastPage" (click)="getUsers(currentPage + 1)">{{currentPage
            + 1}}</a></li>
          <li *ngIf="currentPage != lastPage; else disabledLast" class="page-item"><a class="page-link"
                                                                                      (click)="getUsers(lastPage)">Last</a>
          </li>
          <ng-template #disabledLast>
            <li class="page-item disabled"><a class="page-link" (click)="getUsers(lastPage)">Last</a></li>
          </ng-template>
        </ul>
      </nav>
    </div>
  </div>

  <div class="modal fade" id="setPoints" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-secondary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Set points</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <p>Set points to <span>{{selectedUser.firstName}} {{selectedUser.lastName}}</span></p>
          <div class="row form-group" [formGroup]="sendForm">
            <label class="col-md-3 col-form-label" for="points">Amount:</label>
            <div class="col-md-9">
              <input type="text" id="points" class="form-control" formControlName="points" [ngClass]="{'is-invalid':
            (sendForm.get('points').touched||sendForm.get('points').dirty)&&sendForm.get('points').errors}"
                     [(ngModel)]="pointsSend"
                     required>
              <div *ngIf="sendForm.get('points').hasError('required')" class="invalid-feedback">
                Amount is required field!
              </div>
              <div *ngIf="sendForm.get('points').hasError('pattern')" class="invalid-feedback">
                The amount is incorrect. You should write only positive numeric starting not from "0"!
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="success" class="alert alert-success" >
          <span>Points have been sent successfully!</span>
        </div>
        <div class="modal-footer">
          <button [disabled]="!isFormValid() || !pointsSend" type="button"
                  class="btn btn-secondary"
                  (click)="setPoints()">Send
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

</div>


