.table th {
  border: none;
}

.hrow {
  background-color: #a4b7c1;
}

.admins-tables {
  background: white;
}

.admins-tables-header {
  border-top: hidden;
}

.btn-secondary {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.btn-secondary:hover {
  color: #000;
  background-color: #f5f5ff;
  border-color: #6c757d;
}

.pagination {
  width: 20%;
  margin: auto;
}

th, li {
  cursor: pointer;
}

.row th:hover, .pagination li:hover {
  color: #000;
  background-color: #e1d7e8;
}

.pagination li.active > a {
  background-color: #eee;
}

.disabled {
  cursor: default;
}

.table-row:hover {
  cursor: pointer;
  background-color: #e1d7e8;
}

.admins-tables-header th:hover {
  cursor: pointer;
  background-color: #e1d7e8;
}

.admins-tables-header th {
  background-color: #e6e6e6;
}

.form-control {
  height: auto;
  width: border-box;
}

.modal-body p {
  text-align: center;
}

.modal-body p span {
  font-size: medium;
  font-weight: bold;
  font-style: italic;
}

.alert {
  text-align: center;
}
