.admins-tables {
  background: white;
  border-radius: 0.8rem;
}

.admins-tables-header {
  border-top: hidden
}

.btn-secondary {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.btn-secondary:hover {
  color: #000;
  background-color: #f5f5ff;
  border-color: #6c757d;
}
