<div class="container">
    <div class="row">
        <h1 class="font-color-white header-text">All Users</h1>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" [routerLink]="['/admin']">
            <button class="btn btn-secondary">Back</button>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped admins-tables">
            <thead>
            <tr style="border-top: hidden">
                <th>First Name</th>
                <th>Last Name</th>
                <th>e-mail</th>
                <th>Account Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.accountStatus}}</td>
                <td>
                    <div [routerLink]="['/admin/users', getUserLink(user.self)]">
                        <button class="btn btn-secondary"><i class="fa fa-cog"></i> More</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
