<div class="container">
    <div class="row">
        <h1 class="font-color-white header-text">All Users</h1>
    </div>
    <div class="row">
        <table class="table table-striped" style="background-color: white; border-radius: 0.7rem">
            <thead>
            <tr style="border-top: hidden">
                <th>First Name</th>
                <th>Last Name</th>
                <th>e-mail</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>
                    <div class="btn-group open">
                        <a class="btn btn-secondary"><i class="fa fa-cog"></i> More</a>
                        <a class="btn btn-secondary " data-toggle="dropdown">
                            <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-eye"></i> View Details</a></li>
                            <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
                            <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
