<div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let deck of decks" class="tr-deck" [routerLink]="['/cards', getCardsLink(deck.cards)]">
                <td>{{deck.name}}</td>
                <td>{{deck.description}}</td>
                <td><star-rating-comp [starType]="'svg'" [showHalfStars]="true" [readOnly]="true" [rating]="deck.rating"></star-rating-comp></td>
                <td>
                    <img src="image/add.png">
                         <!--[title]='Add deck to folder'-->
                         <!--[style.width.px]='20'-->
                         <!--[style.margin.px]='10'>-->
                </td>
            </tr>
        </tbody>
    </table>
</div>
