<div class="main-container">
  <div class="bg">
    <div class="container">
      <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
        <div class="row justify-content-center">
          <div class="card border border-secondary">
            <div class="card-header">
              <span><h2>Sign In</h2></span>
            </div>
            <div class="card-body">
              <div (click)="signInFacebook('facebook')" class="custom-btn-facebook">
                <span class="facebookIcon"></span>
                <span class="textSpan">Sign in with Facebook</span>
              </div>
              <div (click)="signInGoogle('google')" class="custom-btn-google">
                <span class="googleIcon"></span>
                <span class="textSpan">Sign in with Google</span>
              </div>
              <div class="label mt-1 mb-1">or</div>
              <div class="form-group">
                <div class="input-group-addon"><i class="fa fa-at fa-lg"></i></div>
                <div class="custom-input">
                  <input type="text" class="form-control" id="username"
                         placeholder="Email" formControlName="username"
                         [ngClass]="{'is-invalid': (loginForm.get('username').touched||loginForm.get('username').dirty)
              &&loginForm.get('username').errors}" required>
                  <div class="invalid-feedback">
                    Please enter your email address.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group-addon"><i class="fa fa-key fa-lg"></i></div>
                <div class="custom-input">
                  <input type="password" class="form-control" id="password"
                         placeholder="Password" formControlName="password"
                         [ngClass]="{'is-invalid':(loginForm.get('password').touched|| loginForm.get('password').dirty)
              &&loginForm.get('password').errors}" required>
                  <div class="invalid-feedback">
                    Please enter your password.
                  </div>
                </div>
              </div>
              <div class="recaptcha">
                <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" site_key="{{siteKey}}"></re-captcha>
              </div>
              <button class="btn btn-success btn-login" [disabled]="!validLogin()"
                      data-toggle="modal" type="submit">
                <i class="fa fa-sign-in"></i> Login
              </button>
              <div class="">
                <button type="button" class="btn btn-link px-0" [routerLink]="['/reset/password']">Forgot password?
                </button>
              </div>
            </div>
          </div>

        </div>
        <div class="row justify-content-center">
          <div class="alertMessage">
            <div class="alert alert-danger" *ngIf="wrongDetails">
              <span>Not valid email or password</span>
            </div>
            <div class="alert alert-danger" *ngIf="error">
              <span><b>Authorization failed!</b> Try again.</span>
            </div>
            <div class="alert alert-success" *ngIf="verificationStat">
              <span>Your account successfully activated. Please log in.</span>
            </div>
          </div>
          <div class="alert alert-danger" *ngIf="isStatusInvalid">
            <span>{{statusError}}</span>
          </div>
          <div class="alert alert-danger" *ngIf="isInactive">
            <span>Account is not active. You can send a confirmation mail to activate your account.</span>
            <button type="button" class="btn btn-outline-success" (click)="sendMail()">Send to activate</button>
          </div>
          <div class="alert alert-success" *ngIf="mailIsSent">
            <span>Mail is sent.</span>
          </div>
          <div class="alert alert-danger" *ngIf="mailIsNotSent">
            <span>Mail is not sent.</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
