<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 font-color-white header-text">
            <h1 class="font-color-white header-text">All Categories</h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <h2 class="font-color-white header-text">Search by Name:</h2>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <input type="text" [(ngModel)]="listFilter"/>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" align="right" [routerLink]="['/admin']">
            <button class="btn btn-secondary">Back</button>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-secondary element-margin">CREATE CATEGORY</button>
    </div>
    <div class="row element-margin">
        <form class="form-inline" method="post" #form="ngForm" (submit)="addCategory(form.value)" autocomplete="off">
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Category name">

            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <textarea type="text" class="form-control" id="inlineFormInputGroup" placeholder="Category description"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
    <div class="row">
        <div *ngIf="categories">
            <table class="table table-striped admins-tables">
                <thead>
                <tr class="admins-tables-header">
                    <th>#</th>
                    <th>Category Name</th>
                    <th>Category Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let category of categories | categoryFilter:listFilter">
                    <td>
                        <div>
                            <img [src]="category.imagebase64" style="height: 50px">
                        </div>
                    </td>
                    <td>{{category.name}}</td>
                    <td>{{category.description}}</td>
                    <td>
                        <button class="btn btn-secondary"><i class="fa fa-eye"></i> More</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
