<div class="container mt-4">
  <div class="col-md-12 mt-4 font-color-white text-center">
    <h2 class="header-text" *ngIf="course">{{course.name.toString()}}</h2>
  </div>
  <div class='has-error col-12' *ngIf='errorMessage'>{{errorMessage}}</div>
  <table class="table table-striped" *ngIf="course">
    <tbody>
    <tr>
      <th>Course Name</th>
      <th>Course Description</th>
      <th class="alignCenter">Rating</th>
      <th class="alignCenter">Subscribe</th>
    </tr>
    <tr>
      <td>{{course.name}}</td>
      <td>{{course.description}}</td>
      <td *ngIf="isAuthorized&&status==='ACTIVE';else unAuthorized">
        <star-rating-comp [starType]="'svg'" [showHalfStars]="true"
                          [rating]="course.rating" (onClick)="onCourseRatingClick($event)"></star-rating-comp>
      </td>
      <ng-template #unAuthorized>
        <td>
          <star-rating-comp [starType]="'svg'" [showHalfStars]="true"
                            [rating]="course.rating" [readOnly]="true"></star-rating-comp>
        </td>
      </ng-template>
      <td class="alignCenter">
        <div>
          <div id="button" (click)="addCourseToUser()"
               [className]="addCourseToUserButton">
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="col-md-12 mt-4 font-color-white text-center">
    <h4 class="header-text" *ngIf="course">Course contains decks</h4>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th class="alignCenter">Rating</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let deck of decks"  class="table-row">
        <td (click)="startLearning(deck.deckId, deck.synthax)">{{deck.name}}</td>
        <td (click)="startLearning(deck.deckId, deck.synthax)">{{deck.description}}</td>
        <td *ngIf="isAuthorized&&status==='ACTIVE';else unAuthorized">
          <star-rating-comp [starType]="'svg'" [showHalfStars]="true"
                            [rating]="deck.rating" (onClick)="onDeckRatingClick(deck, $event)"></star-rating-comp>
        </td>
        <ng-template #unAuthorized>
          <td><star-rating-comp [starType]="'svg'" [showHalfStars]="true"
                            [rating]="deck.rating" [readOnly]="true"></star-rating-comp>
          </td>
        </ng-template>
        <td class="alignCenter" *ngIf="isAuthorized">
          <div class="dropdown">
            <button class="btn btn-light threeDotsButton" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="downloadCards(deck.deckId, deck.name)">
                <i class="fa fa-download" aria-hidden="true"></i>Download cards
              </a>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="btn-comments">
    <button class="btn btn-warning" aria-hidden="true" (click)="tabClick()" ><h6 class="text-light">Comments</h6></button>
    </div>
  </div>
</div>
<app-course-comments *ngIf="showComment"></app-course-comments>
