<div class="container">
  <div class="vertical-menu" *ngIf="deck != undefined">
    <a [routerLink]="['/manage/cards/', getDeckLink(deck.self), nameOfPageToBack]">Manage cards</a>
    <a [routerLink]="['/create/cards/', getDeckLink(deck.self), nameOfPageToBack]" class="active">Create card</a>
    <a *ngIf="nameOfPageToBack=='AdminDecks'" [routerLink]="['/admin/decks']">Back to decks</a>
    <a *ngIf="nameOfPageToBack=='CabinetDecks'" [routerLink]="['/user/cabinet/manage/decks']">Back to decks</a>
  </div>
  <div class="create-card">
    <div class="content">
      <h1 class="category-header">Title</h1>
      <div class="main">
        <input [(ngModel)]="title" type="text" minlenght="3">
      </div>
      <h1 class="category-header">Question</h1>
      <div class="main">
        <textarea [(ngModel)]="question"></textarea>
      </div>
      <h1 class="category-header">Question image</h1>

      <div *ngFor="let image of imageArray; let i = index" class="img-container" id="img-container">
        <img src="{{image}}">
        <a class="remImage" id="delete" (click)="deleteCardImage(i)">
          <img src="https://image.flaticon.com/icons/svg/261/261935.svg" style="width:40px;height:40px;">
        </a>
      </div>

      <label id="largeFile" for="file">
        <input type="file" (change)="loadImage($event)" id="file">
      </label>

      <h1 class="category-header">Answer</h1>
      <div class="main">
        <textarea [(ngModel)]="answer"></textarea>
      </div>

      <button [disabled]="!(question && answer && title)" type="button"
              class="btn btn-primary btn-create-card" (click)="createCard(image)" data-toggle="modal"
              data-target="#SuccessCreate">Add card
      </button>
    </div>
  </div>
</div>
<!-- Modal create new card-->
<div class="modal fade" id="SuccessCreate" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">{{createCardMessage}}</h1>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                data-dismiss="modal">OK
        </button>
      </div>
    </div>
  </div>
</div>

