.container {
  margin-top: 20px;
}
input{
  width: 100%;
}
textarea{
  height: 150px;
}
.create-card {
  margin: auto;
  text-align: center;
  width: 50%;
}

.category-header {
  color: white;
}

.chosen-image {
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

.choose-image {
  height: 100px;
  border: dashed 3px;
  cursor: pointer;
  background-color: white;
  padding-top: 40px;
  margin: 10px 0;
}

.delete-image {
  position: absolute;
  margin-top: -125px;
  margin-left: 35px;
  cursor: pointer;
}

.modal-image {
  margin: 4px;
  width: 120px;
  height: 120px;
  cursor: pointer;
}

.modal-body div {
  display: inline-block;
}

.btn-create-course {
  cursor: pointer;
}

.input-file {
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.input-file + label {
  width: 120px;
  height: 120px;
  cursor: pointer;
  font-size: 1.45em;
  font-weight: 700;
  border-style: dotted;
  display: inline-block;
}

.input-file:focus + label,
.input-file + label:hover {
  background-color: gray;
}

/*MENU*/
.vertical-menu {
  float: left;
  cursor: pointer !important;
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}

.btn-create-card {
  cursor: pointer;
}
