<div class="container">
  <div class="vertical-menu" *ngIf="deck != undefined">
    <a [routerLink]="['/admin/manage/cards/', getDeckLink(deck.self)]">Delete/Update card</a>
    <a [routerLink]="['/admin/cards/', getDeckLink(deck.self)]" class="active">Create card</a>
    <a [routerLink]="['/admin/decks']">Back to decks</a>
  </div>
  <div class="create-card">
    <div class="content">
      <h1 class="category-header">Title</h1>
      <div class="main">
        <input [(ngModel)]="title" type="text" minlenght="3">
      </div>
      <h1 class="category-header">Question</h1>
      <div class="main">
        <textarea [(ngModel)]="question"></textarea>
      </div>
      <h1 class="category-header">Answer</h1>
      <div class="main">
        <textarea [(ngModel)]="answer"></textarea>
      </div>
      <button [disabled]="!(question && answer && title)" type="button"
              class="btn btn-primary btn-create-card" (click)="createCard()" data-toggle="modal"
              data-target="#SuccessCreate">Add card
      </button>
    </div>
  </div>
</div>
<!-- Modal create new card-->
<div class="modal fade" id="SuccessCreate" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">{{resultOfCreateCard}}</h1>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                data-dismiss="modal">OK
        </button>
      </div>
    </div>
  </div>
</div>

