<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-md-12 mt-4 font-color-white text-center">
            <h2 class="header-text">Top Categories</h2>
        </div>
        <br/>
    </div>


    <div class="row" >
        <div *ngFor="let category of categories" class="col-md-3 col-sm-6 col-xs-12 mp-deck" [routerLink]="['/category', getCategoryLink(category.self)]">
            <div class="card mp-card">
                <img [src]="category.imagebase64" class="mx-auto d-block rounded-main card-img-top" style="width: 100%">
                <div class="card-block text-center">
                    <h4>
                        <p class="card-text">{{category.name}}</p>
                    </h4>
                </div>
            </div>
            <br/>
        </div>
    </div>
    <!--Cources-->
    <div class="row mt-5 mb-4">
        <div class="col-md-12 font-color-white text-center">
            <h2 class="header-text">Top Courses</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 mp-deck">
            <div class="card mp-card">
                <img src="image/images.jpg" class="mx-auto d-block rounded-main card-img-top">
                <div style="text-align: center" class="card-block">
                    <h4>
                        <p class="card-text">Java</p>
                    </h4>
                </div>
            </div>
            <br/>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="card mp-card">
                <img src="image/images.jpg" class="mx-auto d-block rounded-main card-img-top">
                <div style="text-align: center" class="card-block">
                    <h4>
                        <p class="card-text">Java</p>
                    </h4>
                </div>
            </div>
            <br/>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="card mp-card">
                <img src="image/images.jpg" class="mx-auto d-block rounded-main card-img-top">
                <div style="text-align: center" class="card-block">
                    <h4>
                        <p class="card-text">Java</p>
                    </h4>
                </div>
            </div>
            <br/>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="card mp-card">
                <img src="image/images.jpg" class="mx-auto d-block rounded card-img-top">
                <div style="text-align: center" class="card-block">
                    <h4>
                        <p class="card-text">Java</p>
                    </h4>
                </div>
            </div>
            <br/>
        </div>
    </div>

    <div class="row ml-xl-5 mt-5">
        <h1 style="color: white">What is Spaced Repetition?</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-6" style="color: darkgray">Spaced Repetition this is the best site!</div>
    </div>
</div>