ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-logo, .nav-category, .nav-course, .nav-search {
    float: left;
}

#nav-logo, #nav-category, #nav-course, #nav-signin, #nav-signup, #nav-logout {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-logo:hover, #nav-category:hover, #nav-course:hover, #nav-signin:hover, #nav-signup:hover, #nav-logout:hover  {
    background-color: #111;
}

.nav-logo {
    font-weight: bold;
    background-color: black;
}

.nav-search {
    margin: 10px;
}

#nav-search {
    width: 250px;
    background: url(../../image/search.png) no-repeat right center;
    background-color: white;
    font-size: 14px;
    outline: none;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*RIGHT SIDE*/
.nav-signin, .nav-signup, .nav-logout {
    float: right;
}