<!-- NAVBAR GUEST -->
<nav>
    <ul class="navigation-bar">
        <!-- LOGO -->
        <li class="nav-logo">
            <a id="nav-logo" [routerLink]="['/main']">ORLP</a>
        </li>
        <!-- CATEGORIES -->
        <li class="nav-category">
            <a id="nav-category" href="#">Categories</a>
        </li>
        <!-- COURSES -->
        <li class="nav-course">
            <a id="nav-course" href="#">Courses</a>
        </li>
        <!-- SEARCH -->
        <li class="nav-search">
            <input id="nav-search" type="text" placeholder="Search">
        </li>
        <!-- SIGN UP -->
        <li class="nav-signup">
            <a id="nav-signup" [routerLink]="['/registr']">SIGN UP</a>
        </li>
        <!-- SIGN IN -->
        <li class="nav-signin">
            <a id="nav-signin" [routerLink]="['/login']">SIGN IN</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
