<!-- NAVBAR -->
<nav>
    <ul class="navigation-bar">
        <!-- LOGO-GUEST -->
        <li *ngIf="false" class="nav-logo">
            <a id="nav-logo" [routerLink]="['/main']">ORLP</a>
        </li>
        <!-- DROPDOWN-USER -->
        <li *ngIf="true" class="main-dropdown-menu">
            <ul>
                <li class="main-menu">
                    <a [routerLink]="['/main']">Main Menu</a>
                    <div class="link">
                        <a [routerLink]="['/cabinet/folder']">Cabinet</a>
                    </div>
                    <div class="settings">
                        <a href>Categories</a>
                    </div>
                    <div class="forum">
                        <a href>Courses</a>
                    </div>
                </li>
            </ul>
        </li>
        <!-- CATEGORIES-GUEST -->
        <li *ngIf="false" class="nav-category">
            <a id="nav-category" href="#">Categories</a>
        </li>
        <!-- COURSES-GUEST -->
        <li *ngIf="false" class="nav-course">
            <a id="nav-course" href="#">Courses</a>
        </li>
        <!-- SEARCH -->
        <li class="nav-search">
            <input id="nav-search" type="text" placeholder="Search" [(ngModel)]="listFilter" (keypress)="show=true" (blur)="show=false"/>
        </li>
        <!-- SIGN UP-GUEST -->
        <li *ngIf="false" class="nav-signup">
            <a id="nav-signup" [routerLink]="['/registr']">SIGN UP</a>
        </li>
        <!-- SIGN IN-GUEST -->
        <li *ngIf="false" class="nav-signin">
            <a id="nav-signin" [routerLink]="['/login']">SIGN IN</a>
        </li>
        <!-- USER-DETAILS -->
        <li *ngIf="true" class="user-details" style="cursor: pointer">
            <a id="user-details" (click)="showLogOut=!showLogOut"><b>. . .</b></a>
            <!-- SIGN-OUT-USER -->
            <div class="signout" *ngIf="showLogOut">
                <a>Sign out</a>
            </div>
        </li>
        <!-- USER-IMAGE -->
        <li *ngIf="true" class="user-image">
            <a [routerLink]="['/login']">
                <img id="user-image" src="https://s.pluralsight.com/sc/img/account/avatar-v2.png">
            </a>
        </li>
        <!-- USER-INFORMATION -->
        <li *ngIf="true" class="user-information">
            <div class="username">Username</div>
            <div class="email">user@gmail.com</div>
        </li>
    </ul>
</nav>
<!-- SEARCH-RESULT -->
<table *ngIf="show" class="table" style="margin-left: -10px; margin-top: 0px; background-color: white; width: 40%; position:absolute; z-index: 1;">
    <tbody>
    <tr *ngFor="let deck of decks | deckFilter: listFilter" style="cursor: pointer">
        <td>{{deck.name}}</td>
        <td>{{deck.description}}</td>
        <td><star-rating-comp [starType]="'svg'" [showHalfStars]="true" [readOnly]="true" [rating]="deck.rating"></star-rating-comp></td>
    </tr>
    </tbody>
</table>
<router-outlet></router-outlet>
