<div class="container">
  <div class="row">
    <div *ngIf="courses" class="col-12">
      <table class="table table-striped admins-tables">
        <thead>
        <tr class="admins-tables-header">
          <th (click)="sortBy('id')">#</th>
          <th (click)="sortBy('name')">Course Name</th>
          <th (click)="sortBy('description')">Course Description</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let course of courses" [routerLink]="['/course', getCourseLink(course.self)]">
          <td>
            <div>
              <img [src]="course.image" style="height: 50px">
            </div>
          </td>
          <td>{{course.name}}</td>
          <td>{{course.description}}</td>
        </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" (click)="getCoursesByPage(1)">First</a></li>
          <li class="page-item"><a class="page-link" *ngIf="currentPage > 1" (click)="getCoursesByPage(currentPage - 1)">{{currentPage - 1}}</a></li>
          <li class="page-item"><a class="page-link" style="background-color: #888888" (click)="getCoursesByPage(currentPage)">{{currentPage}}</a></li>
          <li class="page-item"><a class="page-link" *ngIf="currentPage < lastPage" (click)="getCoursesByPage(currentPage + 1)">{{currentPage + 1}}</a></li>
          <li class="page-item"><a class="page-link" (click)="getCoursesByPage(lastPage)">Last</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
