<div class="container">
  <div class="row">
    <div *ngIf="courses" class="col-12">
      <table class="table table-striped admins-tables">
        <thead>
        <tr  class="admins-courses-header">
          <th *ngIf="actionSort == false && selectedSortedParam == 'id'" class="header-item" (click)="sortBy('id')"># &#8595;</th>
          <th *ngIf="actionSort == true && selectedSortedParam == 'id'" class="header-item" (click)="sortBy('id')"># &#8593;</th>
          <th *ngIf="selectedSortedParam != 'id'" (click)="sortBy('id')"># </th>
          <th *ngIf="actionSort == false && selectedSortedParam == 'name'" class="header-item" (click)="sortBy('name')">Course Name &#8595;</th>
          <th *ngIf="actionSort == true && selectedSortedParam == 'name'" class="header-item" (click)="sortBy('name')">Course Name &#8593;</th>
          <th *ngIf="selectedSortedParam != 'name'" (click)="sortBy('name')">Course Name</th>
          <th *ngIf="actionSort == false && selectedSortedParam == 'description'" class="header-item" (click)="sortBy('description')">Course Description &#8595;</th>
          <th *ngIf="actionSort == true && selectedSortedParam == 'description'" class="header-item" (click)="sortBy('description')">Course Description &#8593;</th>
          <th *ngIf="selectedSortedParam != 'description'" (click)="sortBy('description')">Course Description</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-row" *ngFor="let course of courses" [routerLink]="['/course', getCourseLink(course.self)]">
          <td>
            <div>
              <img [src]="course.image" style="height: 50px">
            </div>
          </td>
          <td>{{course.name}}</td>
          <td>{{course.description}}</td>
        </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li *ngIf="currentPage > 1; else disabled" class="page-item"><a class="page-link" (click)="getCoursesByPage(1)">First</a></li>
          <ng-template #disabled>
            <li class="page-item disabled"><a class="page-link" (click)="getCoursesByPage(1)">First</a></li>
          </ng-template>
          <li class="page-item"><a class="page-link" *ngIf="currentPage > 1" (click)="getCoursesByPage(currentPage - 1)">{{currentPage - 1}}</a></li>
          <li class="active"><a class="page-link" (click)="getCoursesByPage(currentPage)">{{currentPage}}</a></li>
          <li class="page-item"><a class="page-link" *ngIf="currentPage < lastPage" (click)="getCoursesByPage(currentPage + 1)">{{currentPage + 1}}</a></li>
          <li *ngIf="currentPage != lastPage; else disabledLast" class="page-item"><a class="page-link" (click)="getCoursesByPage(lastPage)">Last</a></li>
          <ng-template #disabledLast>
            <li class="page-item disabled"><a class="page-link" (click)="getCoursesByPage(lastPage)">Last</a></li>
          </ng-template>
        </ul>
      </nav>
    </div>
  </div>
</div>
