<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-xs-12 col-sm-1">
        <img class="alertImage" src="../../../assets/images/Warning_Moderate.png">
      </div>
      <div class="col-xs-12 col-sm-11">
    <p *ngIf="!inactiveMessage" class="lead">This action is not available.</p>
        <p *ngIf="inactiveMessage" class="lead">Your account was deleted.</p>
    </div>
    </div>
      <hr class="my-4">
    <p *ngIf="blockedMessage">Your account activity is temporarily limited.</p>
    <p *ngIf="deleteMessage"> You can no longer use this account. It is deleted by the administrator.</p>
    <p class="lead">
      <a [routerLink]="['home']" class="card-link">Go to home page</a>
    </p>
  </div>
</div>
