<div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
<div style="border-bottom: 4px solid white">
    <div *ngFor="let deck of decks" class="card catalogPage-items">
        <div class="card-block">
            <h4 class="card-title">{{deck.name}}</h4>
            <p class="card-text">{{deck.description}}</p>
        </div>
    </div>
</div>

<div class="row">
    <button class="btn ml-auto mt-3 mr-4 catalogPage-button" data-toggle="modal" data-target="#deckModal">
        Add Deck
    </button>
</div>

<div class="modal fade" id="deckModal" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Deck</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" #form="ngForm" (submit)="addDeck(form.value)" autocomplete="off">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="course-name" class="form-control-label">Name:</label>
                        <input type="text" class="form-control" name="name" ngModel id="course-name" required>
                    </div>
                    <div class="form-group">
                        <label for="course-descr" class="form-control-label">Description:</label>
                        <textarea class="form-control" name="description" ngModel id="course-descr"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn catalogPage-button">Add Deck</button>
                </div>
            </form>
        </div>
    </div>
</div>