<div class="bg"></div>
<div class="title">
  <header class="text-black text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <h1 class="display-4 font-weight-normal">
            ORLP
          </h1>
          <p class="lead font-weight-normal">
            (Open Repetition Learning Platform) is a high-performance platform based on a spaced repetition learning technique
          </p>
        </div>
      </div>
    </div>
  </header>
</div>
<div>
  <div class="container-fluid p-0">
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

      <div class="part bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <h2>Some text</h2>
        <p class="lead mb-0">More text</p>
      </div>
      <div class="second-part bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <h2>Fully Responsive Design</h2>
        <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look
          great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
      </div>
    </div>
  </div>
</div>
<div class="third-part">

</div>
























