<div class="background-image d-flex justify-content-center">
  <div class="d-flex">
    <div class="align-self-center mx-auto">
      <div class="row d-flex justify-content-center">
        <h1 class="display-4 font-weight-normal">
          ORLP
        </h1>
        <p class="lead font-weight-normal text-center orlp-description">
          (Open Repetition Learning Platform) is a high-performance platform based on a spaced repetition learning
          technique
        </p>
      </div>
    </div>
  </div>
</div>
<div class="d-flex w-100">
  <div class="row p-4">
    <div class="col-12 col-sm-6 bg-color align-self-center p-3">
      <div class="d-flex text-center text-size">
        Spaced repetition is a learning technique that incorporates increasing intervals of time
        between subsequent review of previously learned material in order to exploit the psychological spacing
        effect
      </div>
    </div>
    <div class="col-12 col-sm-6 bg-color align-self-center">
      <img src="../../../assets/images/spaced_repetition.jpg" class="spaced-repetition img-fluid mx-auto d-block"
           alt="Spaced repetition image">
    </div>
  </div>
</div>
<div class="d-flex w-100 bg-white">
  <div class="row p-4">
    <div class="col-12 col-sm-6 align-self-center">
      <img src="../../../assets/images/forgetting_curve.png" class="img-fluid mx-auto d-block"
           alt="Forgetting curve diagram">
    </div>
    <div class="col-12 col-sm-6 text-size align-self-center p-3">
      The more often you have encountered a piece of information the less often you need to refresh
      it to keep it in your memory. However, even the most familiar information will be forgotten if it is not
      encountered or refreshed for a very long time. In spaced repetition information is reviewed at gradually
      increasing intervals which decreases the rate at which information is forgotten
    </div>
  </div>
</div>
<div class="row mx-1 mx-sm-5 ">
  <div class="text-size text-center p-3 p-sm-5">
    On this Platform all learning material is divided into specific topics, such as
    programming languages, and are called categories. Each category contains courses which contain decks that are
    subject of repetition learning and should be completed over and over to consolidate material. Each deck contains a
    set of cards if the card is answered correctly then it will be marked to appear less frequently in the future,
    whereas if you get the answer wrong, the card will be set to appear more frequently.
  </div>
</div>
