<div class="container">
    <br/>
    <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 style="color: #41FF05">Please Login</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="username" style="color: #41FF05">Email address</label>
            </div>
            <div class="col-md-6">
                <div class="form-group"
                     [ngClass]="{'has-danger': (loginForm.get('username').touched||loginForm.get('username').dirty)&&!loginForm.get('username').valid}">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" class="form-control" id="username"
                               placeholder="Email" formControlName="username">
                    </div>
                    <div class="alert alert-danger"
                         *ngIf="(loginForm.get('username').touched||loginForm.get('username').dirty)&&loginForm.get('username').errors">
                        <span *ngIf="loginForm.get('username').errors.required">Please enter your email address</span>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password" style="color: #41FF05">Password</label>
            </div>
            <div class="col-md-6">
                <div class="form-group"
                     [ngClass]="{'has-danger': (loginForm.get('password').touched||loginForm.get('password').dirty)&&!loginForm.get('password').valid}">

                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" class="form-control" id="password"
                               placeholder="Password" formControlName="password">
                    </div>
                    <div class="alert alert-danger"
                         *ngIf="(loginForm.get('password').touched|| loginForm.get('password').dirty)&&loginForm.get('password').errors">
                        <span *ngIf="loginForm.get('password').errors.required">Please enter your password</span>

                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="padding-top: .35rem">
                <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                    <label class="form-check-label">
                        <input class="form-check-input" name="remember"
                               type="checkbox">
                        <span style="padding-bottom: .15rem; color: white">Remember me</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 1rem">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Login</button>
                <a class="btn btn-link" href="/password/reset">Forgot Your Password?</a>
            </div>

        </div>
        <br/>
        <div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <div class="alert alert-danger" *ngIf="wrongDetails">
                        <span>Not valid email or password</span>
                    </div>
                    <div class="alert alert-danger" *ngIf="error">
                        <span><b>Authorization failed!</b> Try again.</span>
                    </div>
                    <div class="alert alert-success" *ngIf="success">
                        <span>Authorization <b>successful!</b></span>
                    </div>
                    <div class="alert alert-success" *ngIf="verificationError">
                        <span>Account activation successful.</span>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <button (click)="signInGoogle('google')" class="btn-google">google</button>
    <button (click)="signInFacebook('facebook') " class="btn-facebook">facebook</button>
</div>