<div class="container">
    <br/>
    <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="userLogin()" novalidate>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 style="color: #41FF05">Please Login</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group "
                     [ngClass]="{'has-danger': (loginForm.get('email').touched||loginForm.get('email').dirty)&&!loginForm.get('email').valid}">
                    <label class="sr-only" for="email">E-Mail Address</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" name="email" class="form-control" id="email"
                               placeholder="you@example.com" formControlName="email">
                    </div>
                    <div class="alert alert-danger"
                         *ngIf="(loginForm.get('email').touched|| loginForm.get('email').dirty)&&loginForm.get('email').errors">
                        <span *ngIf="loginForm.get('email').errors.required">Please enter your email address</span>
                        <span *ngIf="loginForm.get('email').errors.pattern">Please enter valid email address</span>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group"
                     [ngClass]="{'has-danger': (loginForm.get('password').touched||loginForm.get('password').dirty)&&!loginForm.get('password').valid}">
                    <label class="sr-only" for="password">Password</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="password" class="form-control" id="password"
                               placeholder="Password" formControlName="password">
                    </div>
                    <div class="alert alert-danger"
                         *ngIf="(loginForm.get('password').touched|| loginForm.get('password').dirty)&&loginForm.get('password').errors">
                        <span *ngIf="loginForm.get('password').errors.required">Please enter your password</span>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="padding-top: .35rem">
                <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                    <label class="form-check-label">
                        <input class="form-check-input" name="remember"
                               type="checkbox">
                        <span style="padding-bottom: .15rem; color: white">Remember me</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 1rem">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Login</button>
                <a class="btn btn-link" href="/password/reset">Forgot Your Password?</a>
            </div>


        </div>

        <div class="alert alert-danger" *ngIf="error">
            <span>Not valid email or password</span>
        </div>

    </form>
</div>