<div class="container">
  <div class="row">
    <div *ngIf="categories" class="col-12">
      <table class="table table-striped admins-tables">
        <tr class="admins-tables-header">
          <th>#</th>
          <th>Category Name</th>
          <th>Category Description</th>
        </tr>
        <tr class="table-row" *ngFor="let category of categories"
            [routerLink]="['/category', getCategoryLink(category.self)]">
          <td>
            <div>
              <img [src]="category.image" style="height: 50px">
            </div>
          </td>
          <td>{{category.name}}</td>
          <td>{{category.description}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
