.view {
  width: 1%;
}

td {
  vertical-align: middle;
}

.table thead th {
  cursor: pointer;
}

.table tbody tr:hover {
  background-color: darkgray;
}

.pagination {
  width: 20%;
  margin: auto;
}

.pagination li.active > a:hover {
  cursor: pointer;
}

.disabled {
  cursor: default;
}

th, li {
  cursor: pointer;
}

@media (max-width: 450px) {
  td, th {
    font-size: smaller;
    padding: 0.35rem;
  }

  .btn-sm-450 {
    padding: 0.25rem 0.5rem;
    font-size: 0.765625rem;
    line-height: 1.5;
    border-radius: 0;
  }

  @media (max-width: 400px) {
    .container {
      overflow-x: scroll;
    }
  }
}
