<div class="container">
  <div class="vertical-menu">
    <a [routerLink]="['/user/cabinet']">My learning</a>
    <a [routerLink]="['/user/cabinet/create/course']">Create course</a>
    <a [routerLink]="['/user/cabinet/manage/decks']" class="active">Manage decks</a>
  </div>

  <div class="list-button-container">
    <div class="decks-list">
      <div [class.selected]="deck === selectedDeck" class="decks-list-item" *ngFor="let deck of decks; let i = index"
           (click)="onDeckClicked(deck, i)">
        <span>{{deck.name}}</span>
        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete-deck">-</button>
      </div>
    </div>
    <div *ngIf="decks.length === 0" class="empty-list-label">List of decks is empty</div>

    <div class="centered-container">
      <button class="btn btn-primary decks-list-button" data-toggle="modal" data-target="#create-edit-deck"
              (click)="prepareCreateDialog()">Create new deck
      </button>
    </div>
  </div>

  <div class="row" *ngIf="selectedDeck">
    <div class="col-12">
      <table class="table table-striped deck-info-table">
        <tbody>
        <tr>
          <th>Deck Name</th>
          <td>{{selectedDeck.name}}</td>
        </tr>
        <tr>
          <th>Deck Description</th>
          <td>{{selectedDeck.description}}</td>
        </tr>
        <tr>
          <th>Deck Rating</th>
          <td>{{selectedDeck.rating}}</td>
        </tr>
        <tr>
          <th>Deck Category</th>
          <td>{{selectedDeck.category}}</td>
        </tr>
        <tr>
          <th>Deck Owner</th>
          <td>{{selectedDeck.owner}}</td>
        </tr>
        <tr>
          <th>Deck Syntax</th>
          <td>{{selectedDeck.synthax}}</td>
        </tr>
        <tr>
          <th>Deck Price</th>
          <td>{{selectedDeck.points}}</td>
        </tr>
        </tbody>
      </table>
      <button class="btn btn-primary decks-list-button" data-toggle="modal" data-target="#create-edit-deck"
              (click)="prepareEditDialog()">Edit
      </button>
      <button [routerLink]="['/manage/cards', getDeckLink(selectedDeck.self), 'CabinetDecks']"
              class="btn btn-primary decks-list-button" data-toggle="modal" data-target="#create-edit-deck">Manage Cards
      </button>
      <button class="btn btn-primary decks-list-button" (click)="downloadCards(selectedDeck.deckId, selectedDeck.name)">
        Download cards
      </button>
      <button class="btn btn-primary decks-list-button" (click)="downloadCardsTemplate()">Download cards template
      </button>
      <button *ngIf="selectedDeck.hidden===true && isOwnerDeck(selectedDeck)" class="btn btn-primary decks-list-button"
              (click)="changeAccessDeck(selectedDeck, false)">Private</button>

      <button *ngIf="selectedDeck.hidden===false && isOwnerDeck(selectedDeck)" class="btn btn-primary decks-list-button"
              (click)="changeAccessDeck(selectedDeck, true)">Public</button>

      <label for="file-upload" class="btn btn-primary decks-list-button">Upload cards</label>
      <input id="file-upload" type="file" (change)="uploadCards(selectedDeck.deckId, $event)"/>
      <div class="wrong-format-file-exception">
        <p>{{errorFileMessage}}</p>
      </div>
    </div>
  </div>

  <div class="modal fade" id="create-edit-deck" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{dialogName}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="input-container col-sm-12">
            <div class="form-group row">
              <label class="col-sm-6 col-form-label">Deck name:</label>
              <div class="col-sm-3">
                <input type="text" [(ngModel)]="name"/>
              </div>
            </div>
            <hr class="col-sm-11">
            <div class="form-group row">
              <label class="col-sm-6 col-form-label">Deck description:</label>
              <div class="col-sm-3">
                <input type="text" [(ngModel)]="description"/>
              </div>
            </div>
            <hr class="col-sm-11">
            <div class="form-group row">
              <label class="col-sm-6 col-form-label">Choose a category:</label>
              <div class="col-sm-3">
                <select class="category-select" [(ngModel)]="categoryId">
                  <option *ngFor="let category of categories" [ngValue]="category.categoryId">{{category.name}}</option>
                </select>
              </div>
            </div>
            <hr class="col-sm-11">
            <div class="form-group row">
              <label class="col-sm-6 col-form-label">Choose syntax:</label>
              <div class="col-sm-3">
                <select class="category-select" [(ngModel)]="synthax">
                  <option *ngFor="let synthax of allSynthaxes">{{synthax}}</option>
                </select>
              </div>
            </div>
            <hr class="col-sm-11">
            <div class="form-group row">
              <label class="col-sm-6 col-form-label">Deck price:</label>
              <div class="col-sm-3">
                <input type="number" min="0" [(ngModel)]="points" pattern="^[0-9]{1,6}$" ngModel/>
              </div>
            </div>
            <div class="modal-footer">
              <button *ngIf="name && description && categoryId " class="btn btn-primary btn-pointer"
                      data-dismiss="modal" aria-label="Close" (click)="createDeck()">{{dialogButtonName}}
              </button>
              <button *ngIf="!name || !description || !categoryId"
                      class="btn btn-primary btn-pointer disabled" aria-label="Close">
                {{dialogButtonName}}
              </button>
              <button class="btn btn-default btn-pointer" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="delete-deck" tabindex="-1" role="dialog" *ngIf="selectedDeck">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete this deck?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete the deck {{selectedDeck.name}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-pointer"
                  data-dismiss="modal" (click)="deleteDeck()">Delete
          </button>
          <button type="button" class="btn btn-default btn-pointer" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

</div>
