<div class="container">
  <div class="vertical-menu">
    <a [routerLink]="['/user/cabinet']">My learning</a>
    <a [routerLink]="['/user/cabinet/create/course']">Create course</a>
    <a [routerLink]="['/user/cabinet/manage/decks']" class="active">Manage decks</a>
  </div>

  <div class="list-button-container">
    <div class="decks-list">
      <div [class.selected]="deck === selectedDeck" class="decks-list-item" *ngFor="let deck of decks; let i = index"
           (click)="onDeckClicked(deck, i)">
        <span>{{deck.name}}</span>
        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete-deck">-</button>
      </div>
    </div>
    <div *ngIf="decks.length === 0" class="empty-list-label">List of decks is empty</div>

    <div class="centered-container">
      <button class="btn btn-primary decks-list-button" data-toggle="modal" data-target="#create-edit-deck"
              (click)="prepareCreateDialog()">Create new deck
      </button>
    </div>
  </div>

  <div class="row" *ngIf="selectedDeck">
    <div class="col-12">
      <table class="table table-striped deck-info-table">
        <tbody>
        <tr>
          <th>Deck Name</th>
          <td>{{selectedDeck.name}}</td>
        </tr>
        <tr>
          <th>Deck Description</th>
          <td>{{selectedDeck.description}}</td>
        </tr>
        <tr>
          <th>Deck Rating</th>
          <td>{{selectedDeck.rating}}</td>
        </tr>
        <tr>
          <th>DeckCategory</th>
          <td>{{selectedDeck.category}}</td>
        </tr>
        <tr>
          <th>DeckOwner</th>
          <td>{{selectedDeck.owner}}</td>
        </tr>
        <tr>
          <th>DeckSyntax</th>
          <td>{{selectedDeck.synthax}}</td>
        </tr>
        </tbody>
      </table>
      <button class="btn btn-primary decks-list-button" data-toggle="modal" data-target="#create-edit-deck"
              (click)="prepareEditDialog()">Edit
      </button>
      <button [routerLink]="['/manage/cards', getDeckLink(selectedDeck.self), 'CabinetDecks']"
              class="btn btn-primary decks-list-button" data-toggle="modal" data-target="#create-edit-deck">Manage Cards
      </button>
      <button class="btn btn-primary decks-list-button" (click)="downloadCards(selectedDeck.deckId, selectedDeck.name)">Download cards
      </button>
      <button class="btn btn-primary decks-list-button" (click)="downloadCardsTemplate()">Download cards template
      </button>
      <label for="file-upload" class="btn btn-primary decks-list-button">Upload cards</label>
      <input id="file-upload" type="file" (change)="uploadCards(selectedDeck.deckId, $event)"/>
    </div>
  </div>

  <div class="modal fade" id="create-edit-deck" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{dialogName}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <table class="table">
            <tr>
              <td>
                <label>Input deck name:</label>
              </td>
              <td>
                <input type="text" [(ngModel)]="name"/>
              </td>
            </tr>
            <tr>
              <td>
                <label>Input deck description:</label>
              </td>
              <td>
                <input type="text" [(ngModel)]="description"/>
              </td>
            </tr>
            <tr>
              <td>
                <label>Choose a category:</label>
              </td>
              <td>
                <select class="category-select" [(ngModel)]="categoryId">
                  <option *ngFor="let category of categories" [ngValue]="category.categoryId">{{category.name}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <label>Choose syntax that should be highlighted:</label>
              </td>
              <td>
                <select class="category-select" [(ngModel)] ="synthax">
                  <option *ngFor="let synthax of allSynthaxes" >{{synthax}}</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button *ngIf="name && description && categoryId" class="btn btn-primary btn-pointer"
                  data-dismiss="modal" aria-label="Close" (click)="createDeck()">{{dialogButtonName}}
          </button>
          <button *ngIf="!name || !description || !categoryId"
                  class="btn btn-primary btn-pointer disabled" aria-label="Close">
            {{dialogButtonName}}
          </button>
          <button class="btn btn-default btn-pointer" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="delete-deck" tabindex="-1" role="dialog" *ngIf="selectedDeck">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete this deck?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete the deck {{selectedDeck.name}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-pointer"
                  data-dismiss="modal" (click)="deleteDeck()">Delete
          </button>
          <button type="button" class="btn btn-default btn-pointer" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

</div>
