<div class="container">

  <table class="table ">
    <tr >
      <th>  <div class="col-xs-12 col-sm-4 font-color-white header-text">
        <h1>Decks</h1></div></th>
      <th><button   type="button" (click)="beforeCreate()" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add new deck</button></th>
    </tr>
  </table>

  <div class="row">
    <div class="col-12">
      <table class="table table-striped admins-tables">
        <tr class="admins-tables-header">
          <th>Deck Name</th>
          <th>Deck Description</th>
          <th>Deck Rating</th>
          <th>Deck Category</th>
          <th>Deck Owner</th>
          <th></th>
        </tr>
        <tr *ngFor="let deck of deckList " >
          <td>{{deck.name}}</td>
          <td>{{deck.description}}</td>
          <td>{{deck.rating}}</td>
          <td>{{deck.category}}</td>
          <td>{{deck.owner}}</td>
          <td >
            <button class="btn btn-danger btn-sm" (click)="assignDeck(deck)"  data-toggle="modal" data-target="#ModalDelete" >Delete</button>
          </td>
          <td>
            <div >
              <button   type="button" class="btn btn-primary btn-sm" (click)="beforeEdit(deck)"  data-toggle="modal" data-target="#ModalEdit">Edit</button>
            </div>
          </td>
          <td>
            <div [routerLink]="['/admin/decks', getDeckLink(deck.self)]">
              <button class="btn btn-primary btn-sm"> Open</button>
            </div>
          </td>
          <td>
            <div [routerLink]="['/manage/cards', getDeckLink(deck.self), 'AdminDecks']">
              <button  class="btn btn-primary btn-sm">Manage cards</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Modal Add -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" >
        <div class="modal-header">
          <h4 class="modal-title">Deck</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div *ngIf="categories" class="modal-body">
          <div class="container">
            <table class="table table-striped admins-tables">
              <tr>
                <td>
                  <label>name: </label>
                </td>
                <td>
                  <input type="text" name="name" [(ngModel)]="deckName"/>
                </td>
                <td>
              </tr>
              <tr>
                <td>
                  <label>description: </label></td>
                <td>
                  <input type="text" name="description" [(ngModel)]="deckDescription" />
                </td>
              </tr>
              <tr>
                <td>
                  <label>category: </label>
                </td>
                <td>
                  <select id="selectedCategory" class="form-control form-control-sm" (change)="onCategorySelect($event.target)">
                    <option selected>  </option>
                    <option *ngFor="let category of categories" [value]="category.categoryId">{{category.name}}</option>
                  </select>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="!deckName || !deckDescription || !categoryForDeck.id " type="button"
                  class="btn btn-primary"
                  data-dismiss="modal"
                  (click)="createDeck()">Add</button>
          <button type="button"  class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal delete deck-->
  <div class="modal fade" id="ModalDelete" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" *ngIf="deckSelected">
        <div class="modal-header">
          <h4 class="modal-title">Delete Deck?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="internal-text">Deck {{deckSelected.name}} will be deleted</div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-primary"
                  data-dismiss="modal"
                  (click)="deleteDeck()" >Delete</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Edit -->
  <div class="modal fade" id="ModalEdit" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" *ngIf="deckSelected">
        <div class="modal-header">
          <h4 class="modal-title">Deck</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div *ngIf="categories" class="modal-body">
          <div class="container">
            <table class="table table-striped admins-tables">
              <tr>
                <td>
                  <label>name: </label>
                </td>
                <td>
                  <input type="text" name="name" [(ngModel)]="deckName"/>
                </td>
                <td>
              </tr>
              <tr>
                <td>
                  <label>description: </label></td>
                <td>
                  <input type="text" name="description" [(ngModel)]="deckDescription" />
                </td>
              </tr>
              <tr>
                <td>
                  <label>category: </label>
                </td>
                <td>
                  <select id="selectedCategory2" class="form-control form-control-sm" (change)="onCategorySelect($event.target)">
                    <option selected>{{deckSelected.category}}</option>
                    <option *ngFor="let category of categories" [value]="category.categoryId">{{category.name}}</option>
                  </select>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button   type="button"
                    class="btn btn-primary"
                    data-dismiss="modal"
                    (click)="editDeck()">Save changes</button>
          <button type="button"  class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

</div>

