<div class="container">

  <table class="table ">
    <tr>
      <th>
        <div class="row">
          <div class="col-8">
            <h1 [class.header-item]="true" (click)="sortBy(courseColumns[0])">
              Decks {{courseColumns[0].symbolSorting}}
            </h1>
          </div>
          <div class="col-4">
            <button type="button" (click)="beforeCreate()" class="btn btn-primary" data-toggle="modal"
                    data-target="#myModal">Add new deck
            </button>
          </div>
        </div>
      </th>
    </tr>
  </table>

  <div class="row">
    <div *ngFor="let deck of deckList " class="col-sm-6 col-md-4">
      <div class="card card-accent-primary">
        <div class="card-header">
          <div class="row">
            <div class="col-4">
              {{deck.name}}
            </div>
            <div class="col-6">
              <star-rating-comp [starType]="'svg'" [showHalfStars]="true"
                                [rating]="deck.rating" [readOnly]="true"></star-rating-comp>
            </div>
            <div class="col-2">
              <button class="btn btn-outline-danger btn-sm" (click)="assignDeck(deck)" data-toggle="modal"
                      data-target="#ModalDelete">x
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              description:
            </div>
            <div class="col-8">
              {{deck.description}}
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              category:
            </div>
            <div class="col-8">
              {{deck.category}}
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              owner:
            </div>
            <div class="col-8">
              {{deck.owner}}
            </div>
          </div>

          <div class="row" id="row-button">
            <div class="col-6">
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-primary btn-sm" (click)="beforeEdit(deck)" data-toggle="modal"
                      data-target="#ModalEdit">Edit
              </button>
            </div>
            <div class="col-3" [routerLink]="['/manage/cards', getDeckLink(deck.self), 'AdminDecks']">
              <button class="btn btn-success btn-sm">Open</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li *ngIf="currentPage > 1; else disabledFirst" class="page-item"><a class="page-link"
                                                                           (click)="getDecks(1)">First</a></li>
      <ng-template #disabledFirst>
        <li class="page-item disabled"><a class="page-link" (click)="getDecks(1)">First</a></li>
      </ng-template>
      <li class="page-item"><a class="page-link" *ngIf="currentPage > 1" (click)="getDecks(currentPage - 1)">{{currentPage
        - 1}}</a></li>
      <li class="active"><a class="page-link" (click)="getDecks(currentPage)">{{currentPage}}</a></li>
      <li class="page-item"><a class="page-link" *ngIf="currentPage < lastPage" (click)="getDecks(currentPage + 1)">{{currentPage
        + 1}}</a></li>
      <li *ngIf="currentPage != lastPage; else disabledLast" class="page-item"><a class="page-link"
                                                                                  (click)="getDecks(lastPage)">Last</a>
      </li>
      <ng-template #disabledLast>
        <li class="page-item disabled"><a class="page-link" (click)="getDecks(lastPage)">Last</a></li>
      </ng-template>
    </ul>
  </nav>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Deck</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        </div>
        <div *ngIf="categories" class="card-body">
          <div class="row form-group" [formGroup]="deckForm">
            <label class="col-md-3 col-form-label" for="name">Deck name</label>
            <div class="col-md-9">
              <input type="text" id="name" class="form-control" formControlName="name" [ngClass]="{'is-invalid':
                       (deckForm.get('name').touched||deckForm.get('name').dirty)&&deckForm.get('name').errors}"
                     [(ngModel)]="deckName"
                     required>
              <div *ngIf="deckForm.get('name').hasError('required')" class="invalid-feedback">
                Name is required field!
              </div>
              <div *ngIf="deckForm.get('name').hasError('pattern')" class="invalid-feedback">
                You wrote incorrect characters. (Only letters and +# are allowed)
              </div>
              <div *ngIf="deckForm.get('name').hasError('minlength')" class="invalid-feedback">
                Name is too short! (not less than 2 characters)
              </div>
              <div *ngIf="deckForm.get('name').hasError('maxlength')" class="invalid-feedback">
                Name is too long! (not more than 50 characters)
              </div>
            </div>
          </div>
          <div class="form-group row" [formGroup]="deckForm">
            <label class="col-md-3 col-form-label" for="textarea-input">Deck description</label>
            <div class="col-md-9">
              <textarea id="textarea-input" rows="6" class="form-control" formControlName="description" [ngClass]="{'is-invalid':
              (deckForm.get('description').touched||deckForm.get('description').dirty)&&deckForm.get('description').errors}"
                        required [(ngModel)]="deckDescription"></textarea>
              <div *ngIf="deckForm.get('description').hasError('required')" class="invalid-feedback">
                Description is required field!
              </div>
              <div *ngIf="deckForm.get('description').hasError('pattern')" class="invalid-feedback">
                You wrote incorrect characters. (Only letters and #+., are allowed)
              </div>
              <div *ngIf="deckForm.get('description').hasError('minlength')" class="invalid-feedback">
                Description is too short! (not less than 10 characters)
              </div>
              <div *ngIf="deckForm.get('description').hasError('maxlength')" class="invalid-feedback">
                Description is too long! (not more than 200 characters)
              </div>
            </div>
          </div>
          <div class="form-group row" [formGroup]="deckForm">
            <label class="col-md-3 col-form-label" for="textarea-input" id="Category">Category</label>
            <div class="col-md-9">
              <select id="selectedCategory" class="form-control form-control-sm"
                      (change)="onCategorySelect($event.target)">
                <option selected></option>
                <option *ngFor="let category of categories" [value]="category.categoryId">{{category.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="!isFormValid() || !deckName || !deckDescription || !categoryId " type="button"
                  class="btn btn-primary" id="add-button"
                  data-dismiss="modal"
                  (click)="createDeck()">Add
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>


  <div bsModal id="ModalDelete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
      <div class="modal-content" *ngIf="deckSelected">
        <div class="modal-header">
          <h4 class="modal-title">Delete Deck?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Deck {{deckSelected.name}} will be deleted.</p>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="deleteDeck()" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Deck</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        </div>
        <div *ngIf="deckSelected" class="modal-body">
          <div class="container">
            <table class="table table-striped">
              <tr>
                <td>
                  <label>deck name:</label>
                </td>
                <td>
                  <input type="text" name="name" [(ngModel)]="deckName"/>
                </td>
              </tr>
              <tr>
                <td>
                  <label>deck description:</label>
                </td>
                <td>
                  <input type="text" name="description" [(ngModel)]="deckDescription"/>
                </td>
              </tr>
              <tr>
                <td>
                  <label>category:</label>
                </td>
                <td>
                  <select id="selectedCategory2" class="form-control form-control-sm"
                          (change)="onCategorySelect($event.target)">
                    <option selected>{{deckSelected.category}}</option>
                    <option *ngFor="let category of categories" [value]="category.categoryId">{{category.name}}</option>
                  </select>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-primary"
                  data-dismiss="modal"
                  (click)="editDeck()">Save changes
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

</div>

