.wrapper {
  margin-top: 1%;
}

.pagination {
  width: 20%;
  margin: auto;
}

.pagination li.active > a {
  background-color: #eee;
}

#row-button {
  margin-top: 20px;
}

.form-control {
  height: auto
}

#Category {
  padding-top: 0;
}

