<div class="wrapper">
  <div class="container">
    <div class="info-additional-container">

      <h4>Oops, an error has occurred.</h4>
      <hr>
      <div class="info-additional-content">
        <p class="lead text-muted">You are already logged!</p>
        <p class="lead text-muted">You need to log out before logging in as different user.</p>
      </div>
      <div class="info-additional-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" routerLink="/main">Return to home page
        </button>
      </div>
    </div>
  </div>
</div>
