<div class="container">
  <div class="row">
    <div class="font-color-white header-text">
      <h2>Hello, Admin</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3" [routerLink]="['/admin/users']">
      <button class="btn btn-secondary btn-lg btn-wide">
        Show All Users
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3" [routerLink]="['/admin/categories']">
      <button type="submit" class="btn btn-secondary btn-lg btn-wide">
        Show All Categories
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3" [routerLink]="['/admin/audit']">
      <button type="submit" class="btn btn-secondary btn-lg btn-wide">
        Show Audit
      </button>
    </div>
  </div>
</div>

