.help-block {
  float: right;
  font-size: inherit;
}

.message {
  cursor: pointer;
  color: #4bf913;
}

.card-body{
  padding-top: 10px;
}

.custom-input{
  margin-top: 20px;

}
.card{
  margin-top: 20px;
  background-color: rgba(46, 62, 87, 0.8);
  color: white;
  text-align: center;
  width: 345px;
}
.form-group{
  padding: 0 3%;
}
.btn-login{
  width: 94%;
}

.card-header {
  background: transparent;
  border-bottom: 1px solid #677182
}

.card-body > div{
  font-weight: bold;
}

.main-container {
  height: 600px;
  max-width: 1800px;
}
