<div class="main-container">
  <div class="bg">
    <div *ngIf="showTemplate">
      <div class="container">
        <form class="form-horizontal" role="form" [formGroup]="passwordForm" (ngSubmit)="changePassword()" novalidate>
          <div class="row justify-content-center">
            <div class="card border border-secondary">
              <div class="card-header">
                <span><h2>Reset password</h2></span>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <div class="input-group-addon"><i class="fa fa-key"></i></div>
                  <div class="custom-input">
                    <input type="password" class="form-control" id="password"
                           placeholder="New password" formControlName="password" [ngClass]="{'is-invalid':
                       (passwordForm.get('password').touched||passwordForm.get('password').dirty)&&passwordForm.get('password').errors}"
                           required>
                    <div *ngIf="passwordForm.get('password').hasError('required')" class="invalid-feedback">
                      Enter your password
                    </div>
                    <div *ngIf="passwordForm.get('password').hasError('minlength')" class="invalid-feedback">
                      Password can't be shorter than 8 symbols
                    </div>
                    <div *ngIf="passwordForm.get('password').hasError('maxlength')" class="invalid-feedback">
                      Password can't be longer than 20 symbols
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group-addon">
                    <i class="fa fa-repeat"></i>
                  </div>
                  <div class="custom-input">
                    <input type="password" class="form-control"
                           id="password-confirm" placeholder="Confirm new password" formControlName="confirmPassword"
                           [ngClass]="{'is-invalid': (passwordForm.get('confirmPassword').touched
                       ||passwordForm.get('confirmPassword').dirty)
                       &&(passwordForm.get('confirmPassword').errors
                       ||passwordForm.errors)}" required>
                    <div *ngIf="passwordForm.get('confirmPassword').hasError('required');else incorrect"
                         class="invalid-feedback">
                      Please confirm your password
                    </div>
                    <ng-template #incorrect>
                      <div *ngIf="(passwordForm.hasError('match'))" class="invalid-feedback">
                        Password and confirm password should be the same
                      </div>
                    </ng-template>
                  </div>
                </div>
                <button type="submit" class="btn btn-login btn-primary" [disabled]="!isResetPasswordFormValid()"
                        (click)="changePassword()"><i class="fa fa-dot-circle-o"></i> Submit
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="container" *ngIf="!isTokenValid">
      <div class="row justify-content-center">
        <div class="card border border-secondary">
          <div class="card-header">
            <span><h2>Your link is not valid!</h2></span>
          </div>
          <div class="card-body">
            <div class="label mt-1 mb-1">
              <div class="alert alert-danger message" [routerLink]="['/reset/password']">
                <span><h5>Please request a new link for reset password.</h5></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="isPasswordNotChanged">
      <div class="row justify-content-center">
        <div class="card border border-secondary">
          <div class="card-header">
            <span><h2>Error!</h2></span>
          </div>
          <div class="card-body">
            <div class="label mt-1 mb-1">
              <div class="alert alert-danger message" [routerLink]="['/reset/password']">
                <span><h5>Please try again!</h5></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="isPasswordChanged">
      <div class="row justify-content-center">
        <div class="card border border-secondary">
          <div class="card-header">
            <span><h2>Password changed!</h2></span>
          </div>
          <div class="card-body">
            <div class="label mt-1 mb-1">
              <div class="alert alert-success message" [routerLink]="['/login']">
                <span><h5>Please click here to login.</h5></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

