<div class="bg"></div>
<div *ngIf="showTemplate">
  <div class="container">
    <div class="row justify-content-center">
      <div class="card border border-secondary">
        <div class="card-header">
          <span><h2>Reset password</h2></span>
        </div>
        <div class="card-body">
          <div formGroupName="passwordGroup">
            <div class="form-group">
              <div class="input-group-addon"><i class="fa fa-key"></i></div>
              <div class="custom-input">
                <input type="password" class="form-control" id="password"
                       placeholder="New password" formControlName="password">
          <!--      <div *ngIf="confirmPassword.get('password').hasError('required')" class="invalid-feedback">
                  Enter your password
                </div>
                <div *ngIf="confirmPassword.get('password').hasError('minlength')" class="invalid-feedback">
                  Password can't be shorter than 8 symbols
                </div>
                <div *ngIf="confirmPassword.get('password').hasError('maxlength')" class="invalid-feedback">
                  Password can't be longer than 20 symbols
                </div>-->
              </div>
            </div>
            <div class="form-group">
              <div class="input-group-addon">
                <i class="fa fa-repeat"></i>
              </div>
              <div class="custom-input">
                <input type="password" class="form-control"
                       id="password-confirm" placeholder="Confirm new password" >
               <!-- <div *ngIf="passwordForm.get('confirmPassword').hasError('required');else incorrect"
                     class="invalid-feedback">
                  Please confirm your password
                </div>-->
              <!--  <ng-template #incorrect>
                  <div *ngIf="(confirmPassword.get('passwordGroup').hasError('match'))" class="invalid-feedback">
                    Password and confirm password should be the same
                  </div>
                </ng-template>-->
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-login btn-primary" [routerLink]="['/login']" (click)="changePassword()"><i class="fa fa-dot-circle-o"></i> Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div class="container">
  <form class="form-horizontal" role="form" [formGroup]="passwordForm" (ngSubmit)="changePassword()" novalidate>
    <div class="row justify-content-center">
      <div class="card">
        <div class="card-header">
          <strong>Reset</strong> your password
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="input-group-addon"><i class="fa fa-key"></i></div>
            <div class="custom-input">
              <input type="password" class="form-control" id="password"
                     placeholder="Password" formControlName="password"
                     [ngClass]="{'is-invalid': (userForm.get('passwordForm.password').touched||userForm.get('passwordForm.password').dirty)
                &&userForm.get('passwordForm.password').errors}" required>
              <div *ngIf="userForm.get('passwordForm.password').hasError('required')" class="invalid-feedback">
                Enter your password
              </div>
              <div *ngIf="userForm.get('passwordForm.password').hasError('minlength')" class="invalid-feedback">
                Password can't be shorter than 8 symbols
              </div>
              <div *ngIf="userForm.get('passwordForm.password').hasError('maxlength')" class="invalid-feedback">
                Password can't be longer than 20 symbols
              </div>
            </div>
          </div>
          <div class="custom-input">
            <input type="password" class="form-control"
                   id="password-confirm" placeholder="Confirm password" formControlName="confirmPassword"
                   [ngClass]="{'is-invalid': (passwordForm.get('passwordForm.confirmPassword').touched
                       ||userForm.get('passwordForm.confirmPassword').dirty)
                       &&(userForm.get('passwordForm.confirmPassword').errors
                       ||userForm.get('passwordForm').errors)}" required>
            <div *ngIf="userForm.get('passwordForm.confirmPassword').hasError('required');else incorrect"
                 class="invalid-feedback">
              Please confirm your password
            </div>
            <ng-template #incorrect>
              <div *ngIf="(userForm.get('passwordGroup').hasError('match'))" class="invalid-feedback">
                Password and confirm password should be the same
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary" [disabled]="!validResetPasswordForm()"><i
          class="fa fa-dot-circle-o"></i> Submit
        </button>
      </div>
    </div>
  </form>
</div>-->
