.container {
  margin-top: 20px;
}

.vertical-menu {
  float: left;
  cursor: pointer !important;
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}

.cards-list {
  float: left;
  background-color: white;
  cursor: pointer;
  width: 25%;
  margin-left: 2%;
  max-height: 450px;
  overflow: auto;
}
.cards-list-item {
  background-color: #eee;
  color: black;
  padding: 12px;
}

.cards-list-item:hover {
  background-color: #ccc;
}

.cards-list-item.selected {
  background-color: #4CAF50;
  color: white;
}

.cards-list-button {
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 12px;
}

.cards-list-button-container {
  width: 25%;
  margin-left: 20%;
  text-align: center;
}

.empty-list-label {
  color: white;
  font-size: x-large;
  width: 25%;
  margin-left: 20%;
  text-align: center;
}


.cards-info-table {
  background-color: white;
  border-radius: 0.7rem;
  border-top: hidden;
}

th {
  width: 30%;
}
.admins-tables {
  background: white;
  border-radius: 0.8rem;
}

.admins-tables-header {
  border-top: hidden
}

.btn-secondary {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.btn-secondary:hover {
  color: #000;
  background-color: #f5f5ff;
  border-color: #6c757d;
}

.internal-text {
  text-align: center;
  font-size: 120%;
}
textarea{
  height: 150px;
  width: 100%;
}
.category-header {
  color: black;
}
input {
  width: 100%;
}

.active {
  background-color : #0275d8;
  color: white;
}
.active:hover {
  background-color : #0275d8;
  color: white;
}
.image-container{
  width: 35vh;
  height: 35vh;
  margin-bottom: 2vh;
}

label#largeFile{
  width: 20vh;
  height: 20vh;
}
label#largeFile:after {
  float:left;
  width:20vh;
  height: 20vh;
  content:"Upload your image";
  text-align:center;
  border-radius:10px;
  border:5px dashed #ccc;
  font-size:30px;
}

label#largeFile:hover:after {
  background:#4CAF50;
  color:#fff;
  cursor:pointer;
}

label#largeFile input#file {
  width: 0;
  height: 0;
}

#file{
  display: none;
}
