<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table class="table table-striped" *ngFor="let course of courses">
        <thead (click)="getDecks(course); value = (value === course.name) ? false : value = course.name" style="cursor:pointer">
            <tr>
                <td><img [src]="course.imagebase64" class="mx-auto d-block rounded-main course-img"></td>
                <td>{{course.name}}</td>
                <td>{{course.description}}</td>
            </tr>
        </thead>
        <tbody *ngIf="course.name === value">
            <tr *ngFor="let deck of decks">
                <td>{{deck.name}}</td>
                <td>{{deck.description}}</td>
                <td><star-rating-comp [starType]="'svg'" [showHalfStars]="true" [readOnly]="true" [rating]="deck.rating"></star-rating-comp></td>
            </tr>
        </tbody>
    </table>
</div>
