<div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table class="table table-striped" *ngFor="let course of courses">
        <thead (click)="getDecks(course); value = (value === course.name) ? false : value = course.name" style="cursor:pointer">
            <tr>
                <td><img [src]="course.imagebase64" class="mx-auto d-block rounded-main"></td>
                <td>{{course.name}}</td>
                <td>{{course.description}}</td>
            </tr>
        </thead>
        <tbody *ngIf="course.name === value">
            <tr *ngFor="let deck of decks">
                <td>{{deck.name}}</td>
                <td>{{deck.description}}</td>
                <td><star-rating-comp [starType]="'svg'" [showHalfStars]="true" [readOnly]="true" [rating]="deck.rating"></star-rating-comp></td>
            </tr>
        </tbody>
    </table>
</div>

<!--<div class="row">-->
    <!--<button class="btn ml-auto mt-3 mr-4 catalogPage-button" data-toggle="modal" data-target="#courseModal">-->
        <!--Add Course-->
    <!--</button>-->
<!--</div>-->

<!--<div class="modal fade" id="courseModal" role="dialog" aria-labelledby="exampleModalLabel"-->
     <!--aria-hidden="true">-->
    <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<h5 class="modal-title" id="exampleModalLabel">Add Course</h5>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<form method="post" #form="ngForm" (submit)="addCourse(form.value)" autocomplete="off">-->
                <!--<div class="modal-body">-->

                    <!--<div class="form-group">-->
                        <!--<label for="course-name" class="form-control-label">Name:</label>-->
                        <!--<input type="text" class="form-control" name="name" ngModel id="course-name" required>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="course-descr" class="form-control-label">Description:</label>-->
                        <!--<textarea class="form-control" name="description" ngModel id="course-descr"></textarea>-->
                    <!--</div>-->

                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                    <!--<button type="submit" class="btn catalogPage-button">Add Course</button>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

