<div class="container">
  <div class="row justify-content-center align-items-center">
    <h1 class="font-color-white header-text">Audit</h1>
  </div>
  <div class="row">
    <div *ngIf="auditList" class="col-12">
      <table class="table table-striped admins-tables">
        <tr class="admins-tables-header">
          <th *ngFor="let column of courseColumns" [class.header-item]="column.nameColumnParam === selectedSortedParam.nameColumnParam" (click)="sortBy(column)">
            {{column.nameColumnForDisplay}} {{column.symbolSorting}}
          </th>
        </tr>
        <tr *ngFor="let audit of auditList">
          <td> {{audit.accountEmail}}</td>
          <td>{{audit.action}}</td>
          <td>{{audit.ipAddress}}</td>
          <td> {{audit.role}}</td>
          <td> {{audit.time}}</td>
        </tr>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li *ngIf="currentPage > 1; else disabled" class="page-item"><a class="page-link" (click)="getAudit(1)">First</a></li>
          <ng-template #disabled>
            <li class="page-item disabled"><a class="page-link" (click)="getAudit(1)">First</a></li>
          </ng-template>
          <li class="page-item"><a class="page-link" *ngIf="currentPage > 1" (click)="getAudit(currentPage - 1)">{{currentPage - 1}}</a></li>
          <li class="active"><a class="page-link" (click)="getAudit(currentPage)">{{currentPage}}</a></li>
          <li class="page-item"><a class="page-link" *ngIf="currentPage < lastPage" (click)="getAudit(currentPage + 1)">{{currentPage + 1}}</a></li>
          <li *ngIf="currentPage != lastPage; else disabledLast" class="page-item"><a class="page-link" (click)="getAudit(lastPage)">Last</a></li>
          <ng-template #disabledLast>
            <li class="page-item disabled"><a class="page-link" (click)="getAudit(lastPage)">Last</a></li>
          </ng-template>
        </ul>
      </nav>
    </div>
  </div>
</div>
