th:hover {
  color: #000;
  background-color: #e1d7e8;
  border-color: #6c757d;
  cursor: pointer;
}
.pagination{
  width: 20%;
  margin: auto;
}
.row th, li{
  cursor: pointer;
}
.row th:hover, .pagination li:hover {
  color: #000;
  background-color: #e1d7e8;
}
