.wrapper {
  margin-top: 1%;
}

th:hover {
  color: #000;
  background-color: #e1d7e8;
  border-color: #6c757d;
  cursor: pointer;
}

.pagination {
  width: 20%;
  margin: auto;
}

.row th, li {
  cursor: pointer;
}

.row th:hover, .pagination li:hover {
  color: #000;
  background-color: #e1d7e8;
}

.pagination li.active > a {
  background-color: #eee;
}

.disabled {
  cursor: default;
}

.table-row:hover {
  cursor: pointer;
  background-color: #e1d7e8;
}

.admins-tables-header th:hover {
  cursor: pointer;
  background-color: #e1d7e8;
}

.admins-tables-header th {
  background-color: #e6e6e6;
}

.admins-tables-header .header-item {
  background-color: #d6d6d6;
}
