<div class="container">
  <div class="row justify-content-center align-items-center">
    <h1 class="font-color-white header-text">Audit</h1>
  </div>
  <div class="row">
    <div *ngIf="auditList" class="col-12">
      <table class="table table-striped admins-tables">
        <tr class="admins-tables-header">
          <th *ngIf="actionSort == false && selectedSortedParam == 'accountEmail'" class="header-item" (click)="sortBy('accountEmail')">E-mail &#8595;</th>
          <th *ngIf="actionSort == true && selectedSortedParam == 'accountEmail'" class="header-item" (click)="sortBy('accountEmail')">E-mail &#8593;</th>
          <th *ngIf="selectedSortedParam != 'accountEmail'" (click)="sortBy('accountEmail')">E-mail</th>
          <th *ngIf="actionSort == false && selectedSortedParam == 'action'" class="header-item" (click)="sortBy('action')">Action &#8595;</th>
          <th *ngIf="actionSort == true && selectedSortedParam == 'action'" class="header-item" (click)="sortBy('action')">Action &#8593;</th>
          <th *ngIf="selectedSortedParam != 'action'" (click)="sortBy('action')">Action</th>
          <th *ngIf="actionSort == false && selectedSortedParam == 'ipAddress'" class="header-item" (click)="sortBy('ipAddress')">Ip-address &#8595;</th>
          <th *ngIf="actionSort == true && selectedSortedParam == 'ipAddress'" class="header-item" (click)="sortBy('ipAddress')">Ip-address &#8593;</th>
          <th *ngIf="selectedSortedParam != 'ipAddress'" (click)="sortBy('ipAddress')">Ip-address </th>
          <th *ngIf="actionSort == false && selectedSortedParam == 'role'" class="header-item" (click)="sortBy('role')">Role &#8595;</th>
          <th *ngIf="actionSort == true && selectedSortedParam == 'role'" class="header-item" (click)="sortBy('role')">Role &#8593;</th>
          <th *ngIf="selectedSortedParam != 'role'" (click)="sortBy('role')">Role</th>
          <th *ngIf="actionSort == false && selectedSortedParam == 'time'" class="header-item" (click)="sortBy('time')">Time &#8595;</th>
          <th *ngIf="actionSort == true && selectedSortedParam == 'time'" class="header-item" (click)="sortBy('time')">Time &#8593;</th>
          <th *ngIf="selectedSortedParam != 'time'" (click)="sortBy('time')">Time</th>
        </tr>
        <tr *ngFor="let audit of auditList">
          <td> {{audit.accountEmail}}</td>
          <td>{{audit.action}}</td>
          <td>{{audit.ipAddress}}</td>
          <td> {{audit.role}}</td>
          <td> {{audit.time}}</td>
        </tr>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li *ngIf="currentPage > 1; else disabled" class="page-item"><a class="page-link" (click)="getAudit(1)">First</a></li>
          <ng-template #disabled>
            <li class="page-item disabled"><a class="page-link" (click)="getAudit(1)">First</a></li>
          </ng-template>
          <li class="page-item"><a class="page-link" *ngIf="currentPage > 1" (click)="getAudit(currentPage - 1)">{{currentPage - 1}}</a></li>
          <li class="active"><a class="page-link" (click)="getAudit(currentPage)">{{currentPage}}</a></li>
          <li class="page-item"><a class="page-link" *ngIf="currentPage < lastPage" (click)="getAudit(currentPage + 1)">{{currentPage + 1}}</a></li>
          <li *ngIf="currentPage != lastPage; else disabledLast" class="page-item"><a class="page-link" (click)="getAudit(lastPage)">Last</a></li>
          <ng-template #disabledLast>
            <li class="page-item disabled"><a class="page-link" (click)="getAudit(lastPage)">Last</a></li>
          </ng-template>
        </ul>
      </nav>
    </div>
  </div>
</div>
