.bg {
  right: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  position: relative;
}

.header-text {
  color: white;
  text-shadow: 0 1px white;
}

.alertMessage {
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #e8241e;
  margin-top: 15px;
  text-align: center;
}

.card {
  margin-top: 20px;
  color: black;
  border: solid 1px #111111;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%)
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

.carousel-inner .carousel-item {
  transition: 0.7s ease;
}

.main-container {
  height: 100vh;
}

.courses-container, .categories-container {
  padding-top: 2%;
}

.courses-container p.our-courses, .categories-container p.our-categories {
  font-size: 20px;
  font-weight: bold;
  font-family: "Helvetica Neue", sans-serif;
  color: black;
}

.over-line {
  margin: auto;
  width: 40%;
  border-bottom: 2px solid #ffc91b;
}

.courses-container {
  padding-bottom: 50px;
}

.categories-container, .courses-container {
  background: rgb(255, 255, 255);
  position: relative;
  color: #2e4058;
}

.cat-main-card {
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(248, 249, 250, 0.81);
  color: black;
  border: 1px solid #ffc91b;
  font-family: "Helvetica Neue", sans-serif;
}

.cat-main-card ul {
  margin: auto;
  width: 80%;
  list-style: none;
}

.cat-main-card ul li:before {
  content: "-";
  position: relative;
  left: -5px;
}

.main-card {
  margin-top: 12%;
  padding-left: 10px;
  padding-right: 10px;
  color: #2e4058;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.card-header {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.card-image {
  height: 200px;
}

.learning-button {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  cursor: pointer;
  width: 240px;
  height: 50px;
  font-size: x-large;
  float: none;
}

.learning-button:hover, .learning-button:focus {
  background-color: black;
  color: white;
}

.subscribe-button {
  background-color: transparent;
  color: #ffc91b;
  border: 2px solid #ffc91b;
  cursor: pointer;
  width: 100%;
  height: 50px;
  font-size: large;
  float: none;
}

.subscribe-button:hover, .subscribe-button:focus {
  background-color: #ffc91b;
  color: white;
}

.btn-learning {
  width: 400px;
  height: 60px;
  background-color: rgba(248, 249, 250, 0.81);
  font-size: xx-large;
  float: none;
}

.contact-us {
  padding-top: 2%;
  background-color: #444444;
}

.contact-us .container-form {
  margin: 0 30px;
}

.input-container {
  justify-content: left;
  padding-left: 20px;
}

.input-container input[type="text"] {
  margin-top: 10px;
  padding: 5px 5px;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  color: black;
}

.input-container input[type="text"]:nth-child(1) {
  margin-top: 0;
}

.message textarea {
  width: 100%;
  height: 100%;
  padding: 5px 5px;
  background-color: white;
  border: 1px solid black;
  color: black;
}

.input-container input[type="text"]:placeholder-shown, .message textarea::placeholder {
  text-overflow: ellipsis;
}

.contact-us hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #aaaaaa;
}

.contact-us .send-message {
  background-color: #ffc91b;
  border: 1px solid black;
  font-weight: bold;
  color: white;
  margin-top: 30px;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 40%;
}

.contact-us .send-message:hover {
  background-color: white;
  color: #ffc91b;
}

.wrapper {
  margin-top: 0;
  margin-bottom: -1%;
}

.contact-us-text {
  font-size: 20px;
  font-weight: bold;
  font-family: "Helvetica Neue", sans-serif;
  color: white;
}

.email-sent {
  font-size: 16px;
  font-weight: bold;
  font-family: "Helvetica Neue", sans-serif;
  color: white;
  margin-bottom: 20px;
  border: 1px solid white;
  padding: 5px 40px;
}

.is-invalid{
  color: red;
}

.alert{
  position: absolute;
  margin-top: 20px;
  margin-bottom: 0;
  width: 100%;
  color: white;
  font-weight: 600;
  font-size: large;
  padding: 1rem 1.25rem;
  text-align: center;
}

.alert-success{
  border: none;
  background-color: #ffc91b;

}

.alert-danger{
  border: none;
  background-color: red;
}

@media (max-width: 576px) {
  .main-card {
    margin-top: 10px;
  }

  .button-row {
    margin-top: 5px;
  }

  .contact-us {
    padding-top: 2%;
    margin-bottom: 0;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .over-line {
    width: 40%;
  }

  .contact-us .container-form {
    flex-direction: column;
  }

  .container-form > .col-5, .col-7{
    max-width: none;
  }

  .contact-us .message {
    margin: auto;
    width: 100%;
    padding: 0 20px;
  }

  .message textarea {
    margin-top: 15px;
    margin-left: 0;
    width: 100%;
  }

  .input-container {
    padding-right: 20px;
  }

  .input-container input[type="text"] {
    width: 100%;
  }

  .contact-us > .row {
    margin: 0 20px;
  }

  .contact-us .send-message {
    max-width: none;
    margin: 30px 50px;
  }

  .center-col {
    text-align: -webkit-center;
  }

  .end-row {
    height: 100px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .main-card {
    margin-top: 10px;
  }

  .button-row {
    margin-top: 5px;
  }

  .contact-us .container-form {
    flex-direction: column;
    margin: 0 10px;
  }

  .contact-us .message {
    margin: auto;
    width: 100%;
    padding: 5px 30px;
  }

  .message textarea {
    margin-top: 5px;
    margin-left: 0;
    width: 100%;
    min-height: 100px;
  }

  .input-container {
    padding: 5px 30px;
    margin: 0;
  }

  .input-container input[type="text"] {
    width: 100%;
  }

  .container-form > .col-5, .col-7{
    max-width: none;
  }

  .contact-us > .row {
    margin: 0 40px;
  }

  .contact-us .send-message {
    max-width: none;
    margin: 20px 35px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .alert {
    margin-top: 10px;
  }
}

@media (width: 576px) {
  .push {
    margin-bottom: 0;
  }

  .contact-us .send-message {
    min-width: 0;
  }
}

@media (min-width: 768px) and (max-width: 992px) {

  .center-col {
    text-align: -webkit-center;
  }

  .end-row {
    height: 100px;
  }

  .contact-us .message {
    width: 100%;
  }

  .message textarea {
    margin-left: 0;
    width: 100%;
  }

  .input-container input[type="text"] {
    width: 100%;
  }

  .contact-us > .row {
    margin: 0 25px;
  }

  .contact-us .send-message {
    max-width: 40%;
  }
}

.scroll-button {
  transition: all 0.15s ease-in-out;
  border: none;
}

.scroll-button:hover {
  cursor: pointer;
}

* {
  z-index: 1;
}

.course-card {
  max-width: 200px;
  cursor: pointer;
  border: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}

.title-course {
  height: 20px;
  overflow: hidden;
}

.description-course {
  height: 40px;
  overflow: hidden;
}

.course-card .card-description {
  font-size: 15px;
}

.course-card-body {
  padding: 1.25rem 1.25rem 0;
}

.cat-width {
  width: 33.33%;
}

.cat-card {
  display: inline-block;
  width: 33.33%;
  background-color: transparent;
  border: none;
  text-align: center;
  color: #2e4058;
  font-size: large;
  font-weight: 500;
  cursor: pointer;
}

.cat-card:hover {
  text-shadow: 0 0 1px blue;
}

.cat-title {
  text-align: center;
}

.bottom-element {
  position: fixed;
  bottom: 0;
  z-index: 2;
}

.card-title:hover {
  text-shadow: 0 0 1px green;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.down, .top {
  width: 70px;
  height: 70px;
}

.down {
  background: url(../../../assets/images/down.png) no-repeat center;
  background-size: contain;
  opacity: 0.4;
  border: none;
  border-radius: 50px
}

.top {
  background: url(../../../assets/images/top.png) no-repeat center;
  background-size: contain;
  display: none;
}

.end-row {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.center-col {
  text-align: -webkit-center;
}

.next-icon {
  background-image: url(../../../assets/images/next.png);
}

.prev-icon {
  background-image: url(../../../assets/images/prev.png);
}

.next-icon, .prev-icon {
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
}
