<div class="main-container">
  <div class="bg">
    <div class="row justify-content-center">
      <div class="main-card">
        <p class="title">YOUR INFORMATION SHOULD EVOLVE</p>
        <p class="sub-title">THE PERFECT WAY TO LEARN</p>
      </div>
    </div>
    <div class="row justify-content-center button-row">
      <button *ngIf="isAuthorized&&status==='ACTIVE'" type="button" class="btn learning-button"
              routerLink="/user/cabinet">START
        LEARNING
      </button>
      <button *ngIf="!isAuthorized" type="button" class="btn learning-button" routerLink="/user/courses">START LEARNING
      </button>
    </div>

    <div class="row end-row">
      <div class="col center-col">
        <img class="down scroll-button" id="arrow" (click)="scrollDown()" #arrow/>
      </div>
    </div>
  </div>
</div>
<div class="categories-container" id="categories" #categoriesContainer>
  <div class="over-line"></div>
  <div class="row justify-content-center mt-1">
    <p class="our-categories">OUR CATEGORIES</p>
  </div>
  <div class="row justify-content-center mt-4">
    <div id="categoryCarousel" class="carousel slide col-12 col-md-12 col-lg-12" data-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor="let i of categories;let item = index" class="carousel-item " [ngClass]="{'active': item==0}">
          <div class="card cat-card" *ngFor="let category of this.categories[item];"
               [routerLink]="['/category/', getCategoryLink(category.self)]">
            <div class="card-body">
              <img class="img-fluid" [src]="category.image">
              <p class="cat-title">{{category.name}}</p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#categoryCarousel" role="button" data-slide="prev">
        <span class="prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#categoryCarousel" role="button" data-slide="next">
        <span class="next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="row justify-content-center">
      <div class="card col-12 col-md-7 cat-main-card">
        <ul class="card-body">
          <li class="card-text">All learning material is divided by categories.</li>
          <li class="card-text">Categories are specific topics, such as programming languages.</li>
          <li class="card-text">Each category contains courses that can and should take place over and over again to
            consolidate material.
          </li>
          <li class="card-text">In addition, you can estimate each course and leave a comment about it.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="courses-container" id="courses" #coursesContainer>
  <div class="over-line"></div>
  <div class="row justify-content-center">
    <p class="our-courses">OUR COURSES</p>
  </div>
  <div class="row">
    <div *ngFor="let course of courses" class="col">
      <div class="card course-card">
        <img class="card-image" src={{course.image}} [routerLink]="['/course/top', getCourseLink(course.self)]"
             alt="Card image cap">
        <div class="card-body course-card-body">
          <div class="title-course">
            <h5 class="card-title" [routerLink]="['/course/top', getCourseLink(course.self)]">{{course.name}}</h5>
          </div>
          <div class="description-course">
            <p class="card-description" [routerLink]="['/course/top', getCourseLink(course.self)]">
              {{course.description}}</p>
          </div>
          <h3 [routerLink]="['/course/top', getCourseLink(course.self)]"></h3>
          <div class="star-rating" *ngIf="isAuthorized&&status==='ACTIVE';else unAuthorized">
            <star-rating-comp [starType]="'svg'" [showHalfStars]="true"
                              [rating]="course.rating"
                              (onClick)="onCourseRatingClick(course, $event)"></star-rating-comp>
          </div>
          <ng-template #unAuthorized>
            <div>
              <star-rating-comp [starType]="'svg'" [showHalfStars]="true"
                                [rating]="course.rating" [readOnly]="true"></star-rating-comp>
            </div>
          </ng-template>
          <button *ngIf="isAuthorized" (click)="addCourseToUser(course)" type="button"
                  class="btn subscribe-button">{{subscriptionButtonText[course.courseId]}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contact-us">
  <div class="over-line"></div>
  <div class="row justify-content-center">
    <p class="contact-us-text">CONTACT US</p>
  </div>
  <form class="was-validated" [formGroup]="contactUsForm" (ngSubmit)="sendEmailMessage(contactUsForm.value)">
    <div class="container-form row">
      <div class="input-container col-5">
        <input type="text" placeholder="Name*" formControlName="name" required>
        <div class="is-invalid" *ngIf="(contactUsForm.controls['name'].touched || contactUsForm.controls['name'].dirty)
                                        && contactUsForm.controls['name'].hasError('minlength')">
          Name is too short! (not less than 2 characters)
        </div>
        <div class="is-invalid" *ngIf="(contactUsForm.controls['name'].touched || contactUsForm.controls['name'].dirty)
                                        && contactUsForm.controls['name'].hasError('required')">
          Name is required field!
        </div>
        <div class="is-invalid" *ngIf="(contactUsForm.controls['name'].touched || contactUsForm.controls['name'].dirty)
                                        && contactUsForm.controls['name'].hasError('pattern')">
          You wrote incorrect characters. (Only letters and +# are allowed)
        </div>
        <div class="is-invalid" *ngIf="(contactUsForm.controls['name'].touched || contactUsForm.controls['name'].dirty)
                                        && contactUsForm.controls['name'].hasError('maxlength')">
          Name is too long! (not more than 50 characters)
        </div>
        <input type="text" placeholder="Email*" formControlName="email" required>
        <div class="is-invalid" *ngIf="(contactUsForm.controls['email'].touched || contactUsForm.controls['email'].dirty)
                                      && contactUsForm.controls['email'].hasError('required')">
          Email is required field!
        </div>
        <div class="is-invalid" *ngIf="(contactUsForm.controls['email'].touched || contactUsForm.controls['email'].dirty)
                                      && (contactUsForm.controls['email'].hasError('pattern') || contactUsForm.controls['email'].hasError('minlength'))">
          Incorrect email address, please try again.
        </div>
        <div class="is-invalid" *ngIf="(contactUsForm.controls['email'].touched || contactUsForm.controls['email'].dirty)
                                      && contactUsForm.controls['email'].hasError('maxlength')">
          Email is too long! Please enter a valid one.
        </div>
        <input type="text" placeholder="Subject*" formControlName="subject" required>
        <div class="is-invalid" *ngIf="(contactUsForm.controls['subject'].touched || contactUsForm.controls['subject'].dirty)
                                        && contactUsForm.controls['subject'].hasError('minlength')">
          Subject is too short! (not less than 2 characters)
        </div>
        <div class="is-invalid" *ngIf="(contactUsForm.controls['subject'].touched || contactUsForm.controls['subject'].dirty)
                                        && contactUsForm.controls['subject'].hasError('required')">
          Subject is required field!
        </div>
        <div class="is-invalid" *ngIf="(contactUsForm.controls['subject'].touched || contactUsForm.controls['subject'].dirty)
                                        && contactUsForm.controls['subject'].hasError('pattern')">
          You wrote incorrect characters. (Only letters and +# are allowed)
        </div>
        <div class="is-invalid" *ngIf="(contactUsForm.controls['subject'].touched || contactUsForm.controls['subject'].dirty)
                                        && contactUsForm.controls['subject'].hasError('maxlength')">
          Subject is too long! (not more than 50 characters)
        </div>
      </div>
      <div class="message col-7">
        <textarea placeholder="Message*" name="text" formControlName="text" required></textarea>
        <div class="is-invalid" *ngIf="(contactUsForm.controls['text'].touched || contactUsForm.controls['text'].dirty)
                                          && contactUsForm.controls['text'].hasError('minlength')">
          Message is too short! (not less than 10 characters)
        </div>
        <div class="is-invalid" *ngIf="(contactUsForm.controls['text'].touched || contactUsForm.controls['text'].dirty)
                                          && contactUsForm.controls['text'].hasError('required')">
          Message is required field!
        </div>
        <div class="is-invalid" *ngIf="(contactUsForm.controls['text'].touched || contactUsForm.controls['text'].dirty)
                                          && contactUsForm.controls['text'].hasError('maxlength')">
          Message is too long! (not more than 500 characters)
        </div>
      </div>
    </div>
    <div class="row justify-content-center button-row push">
      <button type="submit" class="btn btn-block send-message" [disabled]="!contactUsForm.valid">SEND MESSAGE
      </button>
      <div class="justify-content-center alert alert-success " role="alert" *ngIf="emailSent">
        Email sent <i class="fa fa-check-circle" aria-hidden="true"></i>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="justify-content-center alert alert-danger" role="alert" *ngIf="emailNotSent">
        Sending of message failed. Please try again
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </form>
</div>
