/*MENU*/
.vertical-menu {
  cursor: pointer !important;
  margin-top: 20px;
  width: 200px;
}

/*FOLDER AND COURSES*/
table {
  float: right;
  margin-right: 200px;
  background-color: white;
  width: 50%;
}

.folder-head, .course-head, .btn-sm {
  cursor: pointer;
}

.course-img {
  width: 40px;
  height: 40px;
}
