<main class="container">

  <nav class="nav nav-pills">
    <a class="nav-link active vertical-menu" [routerLink]="['/user/cabinet']">My learning</a>
  </nav>

  <!--FOLDER-->
  <div>
    <table class="table table-striped">
      <thead class="folder-head" (click)="getFolderDecks()">
      <tr>
        <td><img src="../../../assets/images/categories.png" class="mx-auto d-block rounded-main"></td>
        <td>My folder</td>
      </tr>
      </thead>
      <tbody *ngIf="showFolderDecks">
      <tr *ngFor="let deck of decks">
        <td>{{deck.name}}</td>
        <td>{{deck.description}}</td>
        <td>
          <star-rating-comp [starType]="'svg'" [showHalfStars]="true" [readOnly]="true"
                            [rating]="deck.rating"></star-rating-comp>
        </td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="startLearning(deck.cards)">START</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--COURSES-->
  <div>
    <table class="table table-striped" *ngFor="let course of courses">
      <thead class="course-head" (click)="getCourseDecks(course)">
      <tr>
        <td><img [src]="course.image" class="mx-auto d-block rounded-main course-img"></td>
        <td>{{course.name}}</td>
        <td>{{course.description}}</td>
        <td>
          <star-rating-comp [starType]="'svg'" [showHalfStars]="true" [readOnly]="true"
                            [rating]="course.rating"></star-rating-comp>
        </td>
      </tr>
      </thead>
      <tbody *ngIf="course.name === showCourseDecks">
      <tr *ngFor="let deck of decks">
        <td>{{deck.name}}</td>
        <td>{{deck.description}}</td>
        <td>
          <star-rating-comp [starType]="'svg'" [showHalfStars]="true" [readOnly]="true"
                            [rating]="deck.rating"></star-rating-comp>
        </td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="startLearning(deck.cards)">START</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
