.container {
  margin-top: 20px;
}

/*MENU*/
.vertical-menu {
  float: left;
  cursor: pointer !important;
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}

/*FOLDER AND COURSES*/
.folder, .course {
  margin-left: 300px;
  background-color: white;
  width: 60%;
}

.folder-head, .course-head, .btn-sm {
  cursor: pointer;
}

.course-img, .folder-img {
  width: 50px;
  height: 50px;
}

.deck-img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.decks-folder {
  display: inline-block;
  margin-left: 20px;
}

.icon {
  background-size: contain;
  width: 40px;
  height: 40px;
}

.closed-folder {
  background-image: url("../../../assets/images/closedFolder.png");
}

.opened-folder {
  background-image: url("../../../assets/images/openedFolder.png");
}

.right-column {
  width: 10%;
  text-align: center;
}

.btn-center {
  text-align: center;
}
