.container {
  margin-top: 20px;
}

/*MENU*/
.vertical-menu {
  float: left;
  cursor: pointer !important;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}

/*FOLDER AND COURSES*/
.folder, .course {
  /*margin-left: 300px;*/
  width: 100%;
}

@media screen and (max-width: 500px) {
  tr {
    display: block;
  }

  td {
    border-top: inherit;
  }

  table {
    border-top: 1px solid #ccc;
  }

  .deck-table {
    margin-top: 1em;
  }
  .course-deck-tr {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

@media screen and (min-width: 500px){
  td{
    border-top: inherit;
  }
  .course-deck-tr {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.course-head, .btn-sm {
  cursor: pointer;
}

.folder-title {
  cursor: pointer;
}

.course-img, .folder-img {
  width: 50px;
  height: 50px;
}

.deck-img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.decks-folder {
  display: inline-block;
  margin-left: 20px;
}

.icon {
  background-size: contain;
  padding-left: 0px;
  width: 40px;
  height: 40px;
}

.closed-folder {
  background-image: url("../../../assets/images/closedFolder.png");
}

.opened-folder {
  background-image: url("../../../assets/images/openedFolder.png");
}

.right-column {
  width: 120px;
  text-align: center;
}

.btn-center {
  text-align: center;
}

.cards-number-container {
  text-align: center;
}

.cards-number {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 40px;
  height: 30px;
  background-color: #66c1fa;
  border: 2px solid black;
  border-radius: 50px;
  cursor: default;
}

td{
  vertical-align: middle;
}
