<div class="bg"></div>
<div class="container">
  <form class="form-horizontal" role="form" [formGroup]="userForm" (ngSubmit)="register()" novalidate>
    <div class="row justify-content-center">
        <div class="card border border-secondary">
          <div class="card-header">
            <span><h2>Registration</h2></span>
            </div>
          <div class="card-body">
            <div (click)="signInFacebook('facebook')" class="btn-facebook">
              <span class="facebookIcon"></span>
              <span class="textSpan">Sigh up with Facebook</span>
            </div>
            <div (click)="signInGoogle('google')" class="btn-google">
              <span class="googleIcon"></span>
              <span class="textSpan">Sign up with Google</span>
            </div>
            <div class="label mt-1 mb-1">or</div>
            <div class="form-group">
                <div class="input-group-addon"><i class="fa fa-user"></i></div>
              <div class="my-grid">
                <input type="text" class="form-control" id="name"
                       placeholder="John" formControlName="firstName" [ngClass]="{'is-invalid':
                       (userForm.get('firstName').touched||userForm.get('firstName').dirty)&&userForm.get('firstName').errors}" required>
                <div class="invalid-feedback">
                  Name is Required field
                </div>
              </div>
            </div>
            <div class="form-group">
                <div class="input-group-addon"><i class="fa fa-user"></i></div>
              <div class="my-grid">
                <input type="text" class="form-control" id="last_name"
                       placeholder="Doe" formControlName="lastName"
                       [ngClass]="{'is-invalid': (userForm.get('lastName').touched||userForm.get('lastName').dirty)
                       &&userForm.get('lastName').errors}" required>
              <div class="invalid-feedback">
                Last Name is Required field
              </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group-addon"><i class="fa fa-at"></i></div>
              <div class="my-grid">
                <input type="email" class="form-control" id="email"
                       placeholder="you@example.com" formControlName="email"
                [ngClass]="{'is-invalid': (userForm.get('email').touched||userForm.get('email').dirty)
                       &&userForm.get('email').errors}" required>
              <div *ngIf="userForm.get('email').hasError('required')" class="invalid-feedback">
              Email is Required field
              </div>
              <div *ngIf="userForm.get('email').errors&&!userForm.get('email').errors.required" class="invalid-feedback">
                Please enter valid email address
              </div>
              </div>
              </div>
            <div formGroupName="passwordGroup">
              <div class="form-group">
                <div class="input-group-addon"><i class="fa fa-key"></i></div>
                <div class="my-grid">
                <input type="password" class="form-control" id="password"
                       placeholder="Password" formControlName="password"
                [ngClass]="{'is-invalid': (userForm.get('passwordGroup.password').touched||userForm.get('passwordGroup.password').dirty)
                &&userForm.get('passwordGroup.password').errors}" required>
                <div *ngIf="userForm.get('passwordGroup.password').hasError('required')" class="invalid-feedback">
                  Password is Required field
                </div>
                <div *ngIf="userForm.get('passwordGroup.password').hasError('minlength')" class="invalid-feedback">
                  Password must be more than 8 symbols
                </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group-addon">
                  <i class="fa fa-repeat"></i>
                </div>
              <div class="my-grid">
                <input type="password" class="form-control"
                       id="password-confirm" placeholder="Password" formControlName="confirmPassword"
                       [ngClass]="{'is-invalid': (userForm.get('passwordGroup.confirmPassword').touched
                       ||userForm.get('passwordGroup.confirmPassword').dirty)
                       &&(userForm.get('passwordGroup.confirmPassword').errors
                       ||userForm.get('passwordGroup').errors)}" required>
              <div *ngIf="userForm.get('passwordGroup.confirmPassword').hasError('required');else incorrect" class="invalid-feedback">
                Please confirm your password
              </div>
              <ng-template #incorrect>
              <div *ngIf="(userForm.get('passwordGroup').hasError('match'))" class="invalid-feedback">
                Confirmation password is incorrect
              </div>
              </ng-template>
              </div>
              </div>
            </div>
            <div class="recaptcha">
              <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" site_key="{{siteKey}}"></re-captcha>
            </div>
            <button class="btn btn-success btn-signup" [disabled]="!validSignUp()"
                    data-toggle="modal" type="submit"><i
              class="fa fa-user-plus"></i>
              Register
            </button>
          </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="alertMessage">
        <div class="alert alert-danger" *ngIf="errorEmailExists">
          <span>Email already exists</span>
        </div>
        <div class="alert alert-danger" *ngIf="error">
          <span><b>Registration failed!</b> Try again.</span>
        </div>
        <div class="alert alert-success" *ngIf="success">
          <span>Registration <b>successful!</b></span>
          <span>Check you email for confirmation</span>
        </div>
        <div class="alert alert-warning" *ngIf="mailNotSended">
          <span><b>Sending of confirmation email failed.</b><br>Confirmation email will be send during process of authorization</span>
        </div>

        <div class="alert alert-danger" *ngIf="wrongDetails">
          <span>Not valid email or password</span>
        </div>
        <div class="alert alert-danger" *ngIf="error">
          <span><b>Authorization failed!</b> Try again.</span>
        </div>
        <div class="alert alert-success" *ngIf="verificationStat">
          <span>Your account successfully activated</span>
        </div>
        </div>
      </div>
  </form>
  </div>

<div class="modal fade" id="recaptchaModel" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <div class="recaptcha">
          <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" site_key="{{siteKey}}"></re-captcha>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="register()" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>


