.container-fluid {
  height: 13%;
}

.card {
  margin-top: 20px;
  background-color: rgba(46, 62, 87, 0.59);
  color: white;
  text-align: center;
  width: 345px;
}

.btn-signup {
  width: 100%;
}

.card-header {
  background: transparent;
  border-bottom: 1px solid #677182
}

.fa {
  vertical-align: middle;
  line-height: inherit;
  padding-top: 5px;
}
