.admins-tables{
    background: white;
    border-radius: 0.8rem;
}
.admins-tables-header{
    border-top: hidden
}

.category-image{
    height: 50px;
}
.user-image{
    height: 8rem;
    margin: auto;
}
.button-upate-size{
    width: 20rem;
}

.button-create-category{
    margin: 10px;
}