<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="font-color-white header-text">User info:</h1>
    </div>
  </div>
  <div class="row" *ngIf="user">
    <div class="col-xs-12 col-sm-9">
      <table class="table table-striped admins-tables">
        <tbody>
        <tr>
          <th>First Name</th>
          <td>{{user.firstName}}</td>
        </tr>
        <tr>
          <th>Second Name</th>
          <td>{{user.lastName}}</td>
        </tr>
        <tr>
          <th>e-mail</th>
          <td>{{user.email}}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{user.accountStatus}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="row">
        <img src="https://en.opensuse.org/images/0/0b/Icon-user.png" class="user-image">
      </div>
      <div class="row">
        <div *ngIf="(user.accountStatus == 'ACTIVE' || user.accountStatus == 'BLOCKED')">
          <button class="btn btn-secondary btn-wide" (click)="toggleUpdate(user)">
            {{user.accountStatus == 'BLOCKED' ? 'UNBLOCK' : 'BLOCK'}}
          </button>
        </div>
        <div *ngIf="(user.accountStatus == 'ACTIVE'|| user.accountStatus == 'DELETED')">
          <button class="btn btn-secondary btn-wide" (click)="toggleDelete()">
            {{user.accountStatus == 'DELETED' ? 'ACTIVATE' : 'DELETE'}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
