.wrapper {
  margin-top: 1%;
}

.admins-tables {
  background: white;
  border-radius: 0.8rem;
}

.admins-tables-header {
  border-top: hidden
}

.user-image {
  height: 8rem;
  margin: auto;
}

.btn-wide {
  width: 20rem;
  margin-bottom: 0.5rem;
}

.btn-secondary {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.btn-secondary:hover {
  color: #000;
  background-color: #f5f5ff;
  border-color: #6c757d;
}
