<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th class="alignCenter">Rating</th>
      <th class="alignCenter">Subscribe</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let deck of decksWithStatus" class="tr-deck table-row">
      <td (click)="startLearning(deck.cards)">{{deck.name}}</td>
      <td (click)="startLearning(deck.cards)">{{deck.description}}</td>
      <td class="alignCenter">
        <star-rating-comp [starType]="'svg'" [showHalfStars]="true" [readOnly]="!isAuthorized"
                          [rating]="deck.rating"></star-rating-comp>
      </td>
      <td class="alignCenter">
        <div (click)="addDeckToFolder(deck.deckId)" *ngIf="!deck.status; else other_content">
          <div *ngIf="isAuthorized" class="button addDeckToUserButtonActive" title="Add deck to cabinet"></div>
        </div>
        <ng-template #other_content>
          <div *ngIf="isAuthorized" class="button addDeckToUserButtonChecked"
               title="Deck is already in your cabinet"></div>
        </ng-template>
        <div *ngIf="!isAuthorized" class="button addDeckToUserButtonInActive"
             title="Please Sign In to have ability to add decks to your cabinet"></div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
