<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <table class="table table-striped">
    <thead>
    <tr>
      <th (click)="sortBy('name')">Name</th>
      <th (click)="sortBy('description')">Description</th>
      <th (click)="sortBy('rating')" class="alignCenter">Rating</th>
      <th class="alignCenter">Subscribe</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let deck of decksWithStatus" class="tr-deck table-row">
      <td (click)="startLearning(deck.deckId)">{{deck.name}}</td>
      <td (click)="startLearning(deck.deckId)">{{deck.description}}</td>
      <td class="alignCenter" *ngIf="isAuthorized;else unAuthorized">
        <star-rating-comp [starType]="'svg'" [showHalfStars]="true"
                          [rating]="deck.rating" (onClick)="onDeckRatingClick(deck, $event)"></star-rating-comp>
      </td>
      <ng-template #unAuthorized>
        <star-rating-comp [starType]="'svg'" [showHalfStars]="true"
                          [rating]="deck.rating" [readOnly]="true"></star-rating-comp>
      </ng-template>
      <td class="alignCenter">
        <div *ngIf="!deck.status">
          <div (click)="addDeckToFolder(deck.deckId)" *ngIf="isAuthorized" class="button SubscribeCheckboxActive"
               title="Add deck to cabinet"></div>
        </div>
        <div *ngIf="deck.status">
          <div (click)="addDeckToFolder(deck.deckId)" *ngIf="isAuthorized" class="button SubscribeCheckboxChecked"
               title="Deck is already in your cabinet"></div>
        </div>
        <div *ngIf="!isAuthorized" class="button SubscribeCheckboxInActive"
             title="Please Sign In to have ability to add decks to your cabinet"></div>
      </td>
    </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" (click)="getDeckByPage(1)">First</a></li>
      <li class="page-item"><a class="page-link" *ngIf="currentPage > 1" (click)="getDeckByPage(currentPage - 1)">{{currentPage - 1}}</a></li>
      <li class="page-item"><a class="page-link" style="background-color: #888888" (click)="getDeckByPage(currentPage)">{{currentPage}}</a></li>
      <li class="page-item"><a class="page-link" *ngIf="currentPage < lastPage" (click)="getDeckByPage(currentPage + 1)">{{currentPage + 1}}</a></li>
      <li class="page-item"><a class="page-link" (click)="getDeckByPage(lastPage)">Last</a></li>
    </ul>
  </nav>
</div>
