<div class="container">
    <div class="row">
        <h2 class="font-color-white">User info: </h2>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <table class="table table-striped admins-tables">
                <tbody>
                <tr>
                    <th>First Name</th>
                    <td>{{user?.firstName}}</td>
                </tr>
                <tr>
                    <th>Second Name</th>
                    <td>{{user?.lastName}}</td>
                </tr>
                <tr>
                    <th>e-mail</th>
                    <td>{{user?.email}}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{user?.accountStatus}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div class="row">
                <div>
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="btn-group">
                        <button class="btn btn-success">Change User's Status</button>
                        <button class="btn btn-secondary " data-toggle="dropdown">
                            <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <label class="btn btn-primary active fa fa-check">
                                    <input type="radio" name="options" id="options1" autocomplete="off" checked>
                                    Active</label>
                            </li>
                            <li>
                                <label class="btn btn-primary active fa fa-check">
                                    <input type="radio" name="options" id="options2" autocomplete="off" checked>
                                    Inactive</label>
                            </li>
                            <li>
                                <label class="btn btn-primary active fa Banned">
                                    <input type="radio" name="options" id="options3" autocomplete="off" checked>
                                    Banned</label>
                            </li>
                            <li>
                                <label class="btn btn-primary active fa fa-trash-o fa-fw">
                                    <input type="radio" name="options" id="options4" autocomplete="off" checked>
                                    Deleted</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>