<div class="container">
    <div class="row">
        <h1 class="font-color-white header-text">User info: </h1>
        <button class="btn btn-secondary" [routerLink]="['/admin/users']">Back</button>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <table class="table table-striped admins-tables">
                <tbody>
                <tr>
                    <th>First Name</th>
                    <td>{{user?.firstName}}</td>
                </tr>
                <tr>
                    <th>Second Name</th>
                    <td>{{user?.lastName}}</td>
                </tr>
                <tr>
                    <th>e-mail</th>
                    <td>{{user?.email}}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{user?.accountStatus}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div class="row">

            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <button class="btn btn-secondary" id="updateButton"
                            (click)="updateAccountState(user)">Change to Status UPD
                    </button>
                    <button class="btn btn-secondary" id="deleteButton"
                            (click)="deleteAccountState(user)">Change to Status DEL
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>