.main-dropdown-menu ul {
    position: absolute;
    padding: 0px;
    margin: 0px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
    list-style: none;
    opacity: .5;
    width: 50px;
    z-index: 1;
    transition: opacity .3s ease-in-out;
}

.main-dropdown-menu ul:hover {
    opacity: 1;
}

.main-dropdown-menu li {
    height: 50px;
    overflow: hidden;
    width: 50px;

    transition: width .2s ease-in-out, height .2s ease-in-out .2s;
}

.main-dropdown-menu li:hover {
    height: 200px;
    width: 300px;
}

.main-dropdown-menu li a {
    background-color: #333;
    color: white;
    cursor: pointer;
    display: block;
    height: 50px;
    line-height: 50px;
    width: 300px;
    text-decoration: none;

    transition: background .2s ease-in-out;
}

.main-dropdown-menu li a:hover {
    background-color: white;
    color: black;
}

.main-dropdown-menu li a {
    padding-left: 20px;
    font-size: 1.1em;
    height: 50px;
    line-height: 50px;
    position: relative;
    text-indent: 36px;
}

.main-dropdown-menu li a::before {
    content: '';
    height: 32px;
    left: 9px;
    position: absolute;
    top: 9px;
    width: 32px;
}

.home a::before {
    background: url(../../../assets/images/home.png) center no-repeat;
}

.settings a::before {
    background: url(../../../assets/images/categories.png) center no-repeat;
}

.link a::before {
    background: url(../../../assets/images/cabinet.png) center no-repeat;
}

.forum a::before {
    background: url(../../../assets/images/courses.png) center no-repeat;
}
