<!-- NAVBAR -->
<nav>
  <ul class="navigation-bar">
    <!-- LOGO-GUEST -->
    <li *ngIf="!isAuthorized" class="nav-logo">
      <a id="nav-logo" [routerLink]="['/home']">ORLP</a>
    </li>
    <!-- DROPDOWN-USER -->
    <li *ngIf="isAuthorized" class="main-dropdown-menu">
      <ul>
        <li>
          <div class="home">
            <a [routerLink]="['/home']">Home</a>
          </div>
          <div class="link">
            <a [routerLink]="['/cabinet/folder']">Cabinet</a>
          </div>
          <div class="settings">
            <a [routerLink]="['/user/categories']">Categories</a>
          </div>
          <div class="forum">
            <a [routerLink]="['/user/courses']">Courses</a>
          </div>
        </li>
      </ul>
    </li>
    <!-- CATEGORIES-GUEST -->
    <li *ngIf="!isAuthorized" class="nav-category">
      <a id="nav-category" href="#">Categories</a>
    </li>
    <!-- COURSES-GUEST -->
    <li *ngIf="!isAuthorized" class="nav-course">
      <a id="nav-course" href="#">Courses</a>
    </li>
    <!-- SEARCH -->
    <li class="nav-search">
      <input id="nav-search" placeholder="Search" [(ngModel)]="listFilter" (keypress)="show=true"
             (blur)="show=false"/>
    </li>
    <!-- SIGN UP-GUEST -->
    <li *ngIf="!isAuthorized" class="nav-signup">
      <a id="nav-signup" [routerLink]="['/registr']">SIGN UP</a>
    </li>
    <!-- SIGN IN-GUEST -->
    <li *ngIf="!isAuthorized" class="nav-signin">
      <a id="nav-signin" [routerLink]="['/login']">SIGN IN</a>
    </li>
    <!-- USER-DETAILS -->
    <li *ngIf="isAuthorized" class="user-details">
      <a id="user-details" (click)="showLogOut=!showLogOut"><b>. . .</b></a>
      <!-- SIGN-OUT-USER -->
      <div class="signout" *ngIf="showLogOut" (click)="logoutUser()">
        <a>Sign out</a>
      </div>
    </li>
    <!-- USER-IMAGE -->
    <li *ngIf="isAuthorized" class="user-image">
      <a [routerLink]="['/login']">
        <img *ngIf="userDetails?.image; else default_image" class="user-image" src="{{userDetails?.image}}">
        <ng-template #default_image>
          <img class="user-image" src="../../../assets/images/avatar.png">
        </ng-template>
      </a>
    </li>
    <!-- USER-INFORMATION -->
    <li *ngIf="(isAuthorized && userDetails)" class="user-information">
      <div class="username">{{userDetails.firstName}}</div>
      <div class="email">{{userDetails.email}}</div>
    </li>
  </ul>
</nav>
<!-- SEARCH-RESULT -->
<table *ngIf="show" class="table">
  <tbody>
  <tr *ngFor="let deck of decks | deckFilter: listFilter">
    <td>{{deck.name}}</td>
    <td>{{deck.description}}</td>
    <td>
      <star-rating-comp [starType]="'svg'" [showHalfStars]="true" [readOnly]="true"
                        [rating]="deck.rating"></star-rating-comp>
    </td>
  </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
