.nav-link {
  padding: 0;
}

.custom-navbar-nav {
  padding-left: 15px;
}

.navbar {
  border-left: 1px solid #9a9b9d;
  border-right: 1px solid #9a9b9d;
  border-bottom: 1px solid #9a9b9d;
  top: 0;
  right: 0;
  left: 0;
  padding: 1% 5% 1% 5%;
}

.navbar-brand {
  margin-right: 0;
}

.navbar-brand .label-name {
  color: black;
  border: 1px solid black;
  font-size: 25px;
  padding: 0 5px;
  font-weight: bold;
  max-width: 120px;
  font-family: "Helvetica Neue", sans-serif;
  cursor: pointer;
}

.nav-menu-items ul li a {
  font-weight: bold;
  font-family: "Helvetica Neue", sans-serif;
  color: black;
}

.username {
  font-size: 13px;
  font-weight: bold;
  margin: -4px 0 1px 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-header {
  background-color: rgba(232, 233, 234, 0.81);
  padding: 10px;
  font-size: small;
}

.email {
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-image {
  width: 39px;
  border-radius: 50%;
}

.fa-edit, .fa-sign-out, .fa-user-o {
  color: black;
  cursor: pointer;
}

.fa-navicon {
  font-size: 1.5em;
}

.logout-block {
  border-top: rgb(194, 207, 214) 2px solid;
}

.user-menu .dropdown-item {
  font-size: small;
}

.logout-item {
  cursor: pointer;
}

img {
  height: 39px;
  width: 42px;
}

ul li a, .my-navbar-nav a {
  font-weight: bold;
  font-family: "Helvetica Neue", sans-serif;
  color: black;
  margin-left: 10px;
}

.active {
  border-bottom: 2px solid #ffc91b !important;
}

.navbar-toggler {
  color: black;
}

.dropdown-menu > .dropdown-item {
  margin-left: 0;
}

.user-menu {
  box-shadow: 4px 6px 20px 0;
  border: none;
}

.footer p {
  color: #aaaaaa;
  text-align: center;
  margin: 0;
  padding: 0;

}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: #444444;
  margin-top: 1%;
  width: 100%;
  height: 60px;
}

.container-footer {
  padding-top: 1%;
}

.has-feedback {
  position: relative;
  margin-bottom: 0;
}

.user-menu {
  right: 0 !important;
}

.user-info .nav-item {
  padding: 0;
}

.menu-wrapper {
  padding: 10px;
}

.admin-dropdown {
  padding: 0 0.5rem;
}

.dropdown-toggle::after {
  color: black;
}

.sign-item {
  color: black;
  font-weight: 600;
}

@media (max-width: 301px) {
  .navbar-toggler {
    padding: 5px;
  }

  .user-menu {
    max-width: 230px;
  }
}

@media (max-width: 576px) {
  .main-brand {
    display: none;
  }
}

@media (max-width: 992px) {
  .navbar-collapse {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: white;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  }

  .navbar-collapse.show {
    left: 0;
  }

  .overlay {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }

  .admin-menu .dropdown-item {
    padding: 0;
    border: none;
  }

  .nav-item {
    padding: 5px;
  }

  .dropdown.nav-link {
    padding: 5px;
  }

  .admin-menu {
    max-width: 150px;
    margin-left: 15px;
    margin-top: 10px;
    padding: 0 5px 0 10px;
    border: none;
    border-left: 2px solid #ffc91b;
  }

  .admin-menu a {
    white-space: pre-line;
    border-bottom: 1px grey solid;
  }

  .admin-dropdown {
    border: none;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .inside-brand {
    display: none;
  }

  .dropdown-menu .nav-link {
    margin-left: 0;
    padding: 5px 5px 5px 10px;
    border-bottom: 1px solid lightgrey;
  }
}
