<div class="main-container">
  <div [ngClass]="{'overlay': overlayStatus === true}" (click)="changeOverlay(false)"
       data-toggle="collapse" data-target="#navbarToggler"></div>
  <nav class="navbar navbar-expand-lg navbar-white bg-white text-dark pl-0 pl-sm-2 pr-0 pr-sm-3 pl-lg-5 pr-lg-5">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation"
            (click)="activate(true)">
      <i class="fa fa-navicon fa-lg" aria-hidden="true"></i>
    </button>
    <a class=" navbar-brand ml-2 main-brand" [routerLink]="['/home']" (click)="setNotActive()">
      <div class="label-name">INFOLVE</div>
    </a>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <div class="pt-3">
        <button class="navbar-toggler navbar-brand" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation"
                (click)="changeOverlay(false)">
          <i class="fa fa-navicon fa-lg" aria-hidden="true"></i>
        </button>
        <a class="navbar-brand ml-2 pt-0 inside-brand">
          <div class="label-name">INFOLVE</div>
        </a>
      </div>
      <div class="nav-menu-items mr-auto mt-2 mt-lg-0 mt-xl-0">
        <ul class="navbar-nav custom-navbar-nav ml-2">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/user/categories']" [class.active]="activeLink === '/user/categories'"
               (click)="setActiveLink('/user/categories')">CATEGORIES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/user/courses']" [class.active]="activeLink === '/user/courses'"
               (click)="setActiveLink('/user/courses')">COURSES</a>
          </li>
          <li class="nav-item" *ngIf="isAuthorized">
            <a class="nav-link" [routerLink]="['/user/cabinet']" [class.active]="activeLink === '/user/cabinet'"
               (click)="setActiveLink('/user/cabinet')">CABINET</a>
          </li>
          <li *ngIf="isAuthorizedAdmin && isAuthorized" class="dropdown nav-item">
            <a class="dropdown-toggle admin-dropdown" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              ADMIN
            </a>
            <div class="dropdown-menu admin-menu" aria-labelledby="dropdownMenuLink">
              <a class="nav-link" [routerLink]="['/admin/audit']">AUDIT</a>
              <a class="nav-link" [routerLink]="['/admin/transactionsaudit']">CREDITS TRANSACTIONS</a>
              <a class="nav-link" [routerLink]="['/admin/categories']">CATEGORIES</a>
              <a class="nav-link" [routerLink]="['/admin/courses']">COURSES</a>
              <a class="nav-link" [routerLink]="['/admin/users']">USERS</a>
              <a class="nav-link" [routerLink]="['/admin/decks']">DECKS</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']" [class.active]="activeLink === '/about'"
               (click)="setActiveLink('/about')">ABOUT</a>
          </li>
        </ul>
      </div>
    </div>
    <form class="search-form nav-item align-self-center mr-0 mr-sm-2 ml-auto ml-sm-auto">
      <div class="form-group has-feedback" id="search-form">
        <input [(ngModel)]="searchString" type="text" class="form-control" name="search" id="search"
               placeholder="Search">
        <span class="icon"><a class="" [routerLink]="['/search']" (click)="onSearchClick()"><i
          class="fa fa-search fa-fw" aria-hidden="true"></i></a></span>
      </div>
    </form>
    <div *ngIf="isAuthorized" class="dropdown nav-item">
      <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownUserMenu"
         data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false" data-reference="parent">
        <img *ngIf="image; else default_image" class="user-image" src="{{image}}">
        <ng-template #default_image>
          <img class="user-image" src="../../../assets/images/avatar.png" alt="User image">
        </ng-template>
      </a>
      <div class="dropdown-menu user-menu" aria-labelledby="dropdownUserMenu" style="left: auto">
        <div class="d-inline-flex user-header">
          <div class="col-3 d-flex align-items-center">
            <img *ngIf="image; else default_image" class="user-image" src="{{image}}">
            <ng-template #default_image>
              <img class="user-image" src="../../../assets/images/avatar.png" alt="User image">
            </ng-template>
          </div>
          <div class="col-9 d-flex align-items-center">
            <div *ngIf="(isAuthorized && userDetails)" class="align-self-center user-info">
              <div class="nav-item username">{{userDetails.firstName}}</div>
              <div class="nav-item email">{{userDetails.email}}</div>
              <div *ngIf="!isAuthorizedAdmin&&isAuthorized" class="nav-item"><i class="fa fa-money"
                                                                                aria-hidden="true"></i> {{userDetails.pointsBalance}}
                <span>pts</span></div>
            </div>
          </div>
        </div>
        <div *ngIf="isAuthorized">
          <a class="dropdown-item" [routerLink]="['/user/profile']"
             [class.active]="activeLink === '/user/profile'"
             (click)="setActiveLink('/user/profile')"><i class="fa fa-edit fa-fw fa-lg" aria-hidden="true"></i>Profile
          </a>
        </div>
        <div *ngIf="isAuthorized" class="align-self-center logout-block">
          <a class="dropdown-item" (click)="logoutUser()"><i class="fa fa-sign-out fa-fw fa-lg"></i>Sign out</a>
        </div>
      </div>
    </div>
    <div *ngIf="!isAuthorized" class="dropdown nav-item">
      <a class="nav-link" href="#" role="button" id="dropdownAuthorizationMenu"
         data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false" data-reference="parent"><i class="fa fa-user-o fa-fw fa-lg black"
                                                                               aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu user-menu p-2 mt-3" aria-labelledby="dropdownAuthorizationMenu" style="left: auto">
        <div *ngIf="!isAuthorized" class="nav-item align-self-center">
          <a class="nav-link sign-item" [routerLink]="['/register']" [class.active]="activeLink === '/register'"
             (click)="setActiveLink('/register')"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>SIGN
            UP</a>
        </div>
        <div *ngIf="!isAuthorized" class="nav-item align-self-center">
          <a class="nav-link sign-item" [routerLink]="['/login']" [class.active]="activeLink === '/login'"
             (click)="setActiveLink('/login')"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>SIGN
            IN</a>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <footer class="footer">
    <div class="container-footer">
      <p class="rights">
        &#169; Infolve | All right reserved
      </p>
    </div>
  </footer>
</div>
