<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" [routerLink]="['/home']">ORLP</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 my-navbar-nav">
        <li class="nav-item">
          <a  class="nav-link" [routerLink]="['/user/categories']">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user/courses']">Courses</a>
        </li>
        <li class="nav-item" *ngIf="isAuthorized">
          <a  class="nav-link" [routerLink]="['/user/cabinet']">Cabinet</a>
        </li>
        <li *ngIf="isAuthorizedAdmin" class="dropdown nav-item">
          <a  class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['/admin/audit']">Admin Audit</a>
            <a class="dropdown-item" [routerLink]="['/admin/categories']">Admin Categories</a>
            <a class="dropdown-item" [routerLink]="['/admin/users']">Admin Users</a>
            <a class="dropdown-item" [routerLink]="['/admin/decks']">Admin Decks</a>
          </div>
        </li>
        <li *ngIf="isAuthorized" class="nav-item">
          <a  class="nav-link" [routerLink]="['/user/profile']">Account settings</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" [routerLink]="['/home']">About</a>
        </li>
      </ul>
      <div  class="navbar-nav mt-2 mt-lg-0 my-navbar-nav">
        <a *ngIf="isAuthorized" [routerLink]="['/user/profile']">
          <img *ngIf="image; else default_image" class="user-image" src="{{image}}">
          <ng-template #default_image>
            <img class="user-image" src="../../../assets/images/avatar.png">
          </ng-template>
        </a>
        <div *ngIf="(isAuthorized && userDetails)">
          <div class="nav-item username ">{{userDetails.firstName}}</div>
          <div class="nav-item email">{{userDetails.email}}</div>
        </div>
      <div *ngIf="!isAuthorized" class="nav-item">
        <a class="nav-link" [routerLink]="['/registr']"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>Sign Up</a>
      </div>
      <div *ngIf="!isAuthorized" class="nav-item ">
        <a class="nav-link" [routerLink]="['/login']"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>Sign In</a>
      </div>
        <div *ngIf="isAuthorized" class="nav-item logout-item">
          <a class="nav-link logout" (click)="logoutUser()"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>Sign out</a>
        </div>
    </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
