.container-fluid{
  padding: 0;
}
.custom-navbar-nav, .nav-link{
  padding-right: 15px;
  padding-left: 15px;
}

.navbar{
  border-left: 1px solid #9a9b9d;
  border-right: 1px solid #9a9b9d;
  border-bottom: 1px solid #9a9b9d;
  top: 0;
  right: 0;
  left: 0;
  padding: 1% 5% 1% 5%;
}
.navbar-brand{
  margin-right: 0;
}
.navbar-brand .label-name{
  color: black;
  border: 2px solid black;
  font-size: 25px;
  padding: 0 3px 0 3px;
  font-weight: bold;
  max-width: 120px;
  font-family: "Helvetica Neue", sans-serif;
}
.username, .email {
  text-align: center;
  font-size: 13px;
}

.user-image {
  width: 39px;
  border-radius: 50%;
}

.user-information, .user-image, .user-details {
  float: right;
}

.user-image {
  margin-left: 5px;
  margin-right: 5px;
}

.logout-item{
  cursor: pointer;
}

img{
  height: 39px;
  width: 42px;
}

ul li a, .my-navbar-nav a {
  font-weight: bold;
  font-family: "Helvetica Neue", sans-serif;
  color: black;
  margin-left: 10px;
}

form{
  margin: 13px 5px 0 30px;
}
input{
  width: 100%;
  height: 25px;
  border: 1px solid black;
  border-radius: 20px;
}
.active{
  border-bottom: 2px solid #ffc91b;
}
.navbar-toggler {
  border: 1px solid black;
  color: black;
}
