<div class="bg">
  <div class="my-container"></div>
</div>
<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-3">
        <img *ngIf="imageProfile; else default_image"  alt="image" class="img-rounded" alt="Cinque Terre"
             src="{{imageProfile}}">
        <ng-template #default_image>
          <img class="user-image" src="../../../assets/images/avatar.png">
        </ng-template>
      </div>
    <div class="col">
      <div class="row ">
        <h1 class="font-color-white header-text">My profile</h1>
      </div>
      <h5 *ngIf="userProfile" class="font-color-white header-text">You are signed in as {{userProfile.email}}</h5>
    </div>
    <div class="col-xs-12 col-sm-2" id ="delete">
      <button (click)="deleteProfile()" type="button" class="btn btn-outline-warning">Delete profile</button>
    </div>
    <div  class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
        <div *ngIf="showModal" class="alert alert-danger">
          Your account was deactivated.
        </div>
      </div>
    </div>
  </div>

<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Personal data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#hats" role="tab" id="hats-tab" data-toggle="tab" aria-controls="hats">Change password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#image" role="tab" id="image-tab" data-toggle="tab" aria-controls="image">Change image</a>
        </li>
      </ul>
    </div>
  <div id="clothing-nav-content" class="tab-content">

    <div role="tabpanel" class="tab-pane fade show active" id="home" aria-labelledby="home-tab">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2 field-label-responsive">
            <label for="name" >First Name</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i>
                </div>
                <input class="form-control "  type="text" id="name"
                       [(ngModel)]="firstName">
              </div>
              <div *ngIf="firstName==''" class="col-sm-6">
                <small class="text-danger">
                  First Name can not be empty.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 field-label-responsive">
            <label for="last_name" >Last Name</label>
          </div>
          <div class="col-md-6">
            <div class="form-group"
            ><div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
              <input type="text" class="form-control" id="last_name"
                     [(ngModel)]="lastName" >
            </div>
              <div *ngIf="lastName==''" class="col-sm-6">
                <small  class="text-danger">
                  Last Name can not be empty.
                </small>
              </div>
            </div>
          </div>
        </div>
        <button [disabled]="(firstName=='')||(lastName=='')" (click)="saveChanges()"  type="button" class="btn btn-outline-info">Save changes</button>
        <div  class="row">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-6">
            <div *ngIf="showMessageData" class="alert alert-success">
              Your data was successfully updated.
            </div>
          </div>
        </div>

      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="hats" aria-labelledby="hats-tab">
      <div *ngIf="this.authenticationType==='GOOGLE'">
        <div class="row">
          <div class="col">
            <p class=accountMessage>You are signed in via GOOGLE so you can not change password, but you
              change password google account.</p>
          </div>
        </div>
      </div>
      <div *ngIf="this.authenticationType==='FACEBOOK'">
        <div class="row">
          <div class="col">
            <p class=accountMessage>You are signed in via FACEBOOK so you can not change password, but you
              change password facebook account.</p>
          </div>
        </div>
      </div>
     <div *ngIf="this.authenticationType==='LOCAL'">
      <div class="row">
        <div class="col-md-6 field-label-responsive">
        <p class=accountMessage>To continue, first verify that it's you</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="password">Current password</label>
        </div>
        <div class="col-md-6">
          <div class="form-group" >  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
              <input type="password" class="form-control" id="currentpassword" [(ngModel)]="currentPassword">
            </div>
            <div *ngIf="currentPassword==''" class="col-sm-6">
              <small  class="text-danger">
                Please enter your current password.
              </small>
          </div>
          </div>
         <div class="row">
            <div class="col">
          <div *ngIf="showForm==false" class="alert alert-danger">
            Not valid password.
          </div>
            </div>
          </div>
        </div>
      </div>
      <form  class="form-horizontal" role="form" (ngSubmit)="changePassword()" [formGroup]="userForm" novalidate>
      <div formGroupName="passwordGroup"
           [ngClass]="{'has-danger': userForm.get('passwordGroup').errors}">
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label for="password" >New password</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                <input type="password" class="form-control" id="password"
                       placeholder="Password" formControlName="password">
              </div>
              <div *ngIf="currentPassword==''" class="col-sm-6">
                <small  class="text-danger">
                  Please enter your current password.
                </small>
              </div>
              <div class="col-sm-9"
                   *ngIf="(userForm.get('passwordGroup.password').touched||userForm.get('passwordGroup.password').dirty)&&userForm.get('passwordGroup.password').errors">
                <span *ngIf="userForm.get('passwordGroup.password').errors.required"><small  class="text-danger">
                  Password is Required field
                </small></span>
                <span
                  *ngIf="userForm.get('passwordGroup.password').errors.minlength"><small  class="text-danger">
                  Password must be more than 8 symbols
                </small></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label for="password" >Confirm password</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem">
                  <i class="fa fa-repeat"></i>
                </div>
                <input type="password" class="form-control"
                       id="password-confirm" placeholder="Password" formControlName="confirmPassword">
              </div>
              <div class="col-sm-9"
                   *ngIf="(userForm.get('passwordGroup.confirmPassword').touched||userForm.get('passwordGroup.confirmPassword').dirty)&&(userForm.get('passwordGroup.confirmPassword').errors||userForm.get('passwordGroup').errors)">
              <span
                *ngIf="userForm.get('passwordGroup.confirmPassword').errors?.required"><small  class="text-danger">
                 Please confirm your password
                </small><br></span>
                <span *ngIf="userForm.get('passwordGroup').errors?.match"><small  class="text-danger">
                 The confirmation password does not match the password
                </small></span>
              </div>
            </div>
          </div>
        </div>
      </div>
        <button (click)="changePassword()" type="button" class="btn btn-outline-info" [disabled]="!userForm.valid">
          Change password
        </button>
      </form>
      <div  class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
          <div *ngIf="showForm" class="alert alert-success">
            Your password was successfully changed.
          </div>
        </div>
      </div>
    </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="image" aria-labelledby="image-tab">
      <div  class="row">
      </div>
      <div>
        <input type="file" (change)="loadFile($event)" name="file" id="file" class="input-file">
      </div>
        <div  class="row">
        </div>
    <div  data-toggle="modal" data-target=".bd-example-modal-lg">
      <div *ngIf="chosenImage; then chosenContent else chooseContent"></div>
      <ng-template #chosenContent>
        <img [src]=this.imageProfile alt="image" class="chosen-image"/>
      </ng-template>
      <ng-template #chooseContent>
      </ng-template>
    </div>
    </div>
  </div>
</div>
</div>
