<div class="bg">
  <div class="my-container"></div>
</div>
<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-3">
        <img *ngIf="imageProfile; else default_image"  alt="image" class="img-rounded" alt="Cinque Terre"
             src="{{imageProfile}}">
        <ng-template #default_image>
          <img class="user-image" src="../../../assets/images/avatar.png">
        </ng-template>
      </div>
    <div class="col">
      <div class="row ">
        <h1 class="title">My profile</h1>
      </div>
      <h5 *ngIf="userProfile" class="title">You are signed in as {{userProfile.email}}</h5>
    </div>
    <div class="col-xs-12 col-sm-2" id ="delete">
      <button class="btn btn-outline-dark"
                                  data-toggle="modal" data-target="#deleteModel">Delete profile</button>
    </div>
  </div>
    <div  class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
        <div *ngIf="showModal" class="alert alert-danger">
          Your account is deactivated.
        </div>
      </div>
  </div>

<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#home" data-toggle="tab" aria-expanded="true">Personal data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#hats" data-toggle="tab">Change password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#image"  data-toggle="tab">Change image</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#regime" role="tab" id="regime-tab" data-toggle="tab"
             aria-controls="regime">Learning regime
          </a>
      </ul>
    </div>
  <div id="clothing-nav-content" class="tab-content">

    <div role="tabpanel" class="tab-pane fade show active" id="home" aria-labelledby="home-tab">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label for="name" >First Name</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i>
                </div>
                <input class="form-control "  type="text" id="name"
                       [(ngModel)]="firstName">
              </div>
              <div *ngIf="firstName==''" class="col-sm-6">
                <small class="text-danger">
                  First Name can not be empty.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label for="last_name" >Last Name</label>
          </div>
          <div class="col-md-6">
            <div class="form-group"
            ><div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
              <input type="text" class="form-control" id="last_name"
                     [(ngModel)]="lastName" >
            </div>
              <div *ngIf="lastName==''" class="col-sm-6">
                <small  class="text-danger">
                  Last Name can not be empty.
                </small>
              </div>
            </div>
          </div>
        </div>
        <button [disabled]="(firstName=='')||(lastName=='')" (click)="saveChanges()"  type="button" class="btn btn-outline-info">Save changes</button>
        <div  class="row">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-6">
            <div *ngIf="showMessageData" class="alert alert-success">
              Your data is successfully updated.
            </div>
          </div>
        </div>

      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="hats" aria-labelledby="hats-tab">
      <div *ngIf="this.authenticationType==='GOOGLE'">
        <div class="row">
          <div class="col">
            <p class=accountMessage>You are signed in via GOOGLE so you can not change password, but you
              change password google account.</p>
          </div>
        </div>
      </div>
      <div *ngIf="this.authenticationType==='FACEBOOK'">
        <div class="row">
          <div class="col">
            <p class=accountMessage>You are signed in via FACEBOOK so you can not change password, but you
              change password facebook account.</p>
          </div>
        </div>
      </div>
     <div *ngIf="this.authenticationType==='LOCAL'">
      <div class="row">
        <div class="col-md-6 field-label-responsive">
        <p class=accountMessage>To continue, first verify that it's you</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="password">Current password</label>
        </div>
        <div class="col-md-6">
          <div class="form-group" >  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
              <input type="password" class="form-control" id="currentpassword" [(ngModel)]="currentPassword">
            </div>
            <div *ngIf="currentPassword==''" class="col-sm-6">
              <small  class="text-danger">
                Please enter your current password.
              </small>
          </div>
          </div>
         <div class="row">
            <div class="col">
          <div *ngIf="showForm==false" class="alert alert-danger">
            Not valid password.
          </div>
            </div>
          </div>
        </div>
      </div>
      <form  class="form-horizontal" role="form" (ngSubmit)="changePassword()" [formGroup]="userForm" novalidate>
      <div formGroupName="passwordGroup"
           [ngClass]="{'has-danger': userForm.get('passwordGroup').errors}">
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label for="password" >New password</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                <input type="password" class="form-control" id="password"
                       formControlName="password">
              </div>
              <div class="col-sm-9-align-left"
                   *ngIf="(userForm.get('passwordGroup.password').touched||userForm.get('passwordGroup.password').dirty)&&userForm.get('passwordGroup.password').errors">
                <span *ngIf="userForm.get('passwordGroup.password').hasError('required')"><small  class="text-danger">
                  Password is Required field
                </small></span>
                <span
                  *ngIf="userForm.get('passwordGroup.password').hasError('minlength')"><small  class="text-danger">
                  Password must be more than 8 symbols
                </small></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label for="password" >Confirm password</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem">
                  <i class="fa fa-repeat"></i>
                </div>
                <input type="password" class="form-control"
                       id="password-confirm"  formControlName="confirmPassword">
              </div>
              <div class="col-sm-9-align-left"
                   *ngIf="(userForm.get('passwordGroup.confirmPassword').touched||userForm.get('passwordGroup.confirmPassword').dirty)&&(userForm.get('passwordGroup.confirmPassword').errors||userForm.get('passwordGroup').errors)">
              <span
                *ngIf="userForm.get('passwordGroup.confirmPassword').hasError('required');else incorrect"><small  class="text-danger">
                 Please confirm your password
                </small><br></span>
                <ng-template #incorrect>
                  <span *ngIf="(userForm.get('passwordGroup').hasError('match'))"><small  class="text-danger">
                    Confirmation password is incorrect
                   </small><br></span>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
        <button (click)="changePassword()" type="button" class="btn btn-outline-info" [disabled]="!userForm.valid">
          Change password
        </button>
      </form>
      <div  class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
          <div *ngIf="showForm" class="alert alert-success">
            Your password was successfully changed.
          </div>
        </div>
      </div>
    </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="image" aria-labelledby="image-tab">
      <label class="custom-file">
        <input type="file" id="file" class="custom-file-input" (change)="loadFile($event)" required>
        <span class="custom-file-control"></span>
      </label>
    </div>

    <div role="tabpanel" class="tab-pane learning-regime-tab fade" id="regime" aria-labelledby="regime-tab">
      <div class="cards-number">
        <label>Number of cards in one learning session:
          <input type="number" [(ngModel)]="cardsNumber">
        </label>
      </div>
      <div (click)="updateLearningRegime('CARDS_POSTPONING_USING_SPACED_REPETITION')" class="radio-button-container"
           [class.checked]="selectedRegime === 'CARDS_POSTPONING_USING_SPACED_REPETITION'">Cards postponing
        <div class="explanation">
          In this regime learning is going using spaced repetition. Cards that need repeating are shown first and then
          the new cards. After each answer the card is postponed on some period of time. The better you know that card
          - the greater amount of time this card will not be displayed for you. It is recommended practice for you
          to repeat new cards as soon as they need to be repeated, so there are notification icons for you to see when
          there are some cards that need repeating.
        </div>
      </div>
      <div (click)="updateLearningRegime('BAD_NORMAL_GOOD_STATUS_DEPENDING')" class="radio-button-container"
           [class.checked]="selectedRegime === 'BAD_NORMAL_GOOD_STATUS_DEPENDING'">Using status
        <div class="explanation">
          In this regime learning is going using special statuses. There are three of them - good, normal and bad.
          These statuses go with the following buttons correspondingly, so everything is clear here. Cards for
          learning are shown in the order that new ones are displayed first and then all the others are shown
          sorted by their statuses starting from those whose statuses are bad.
        </div>
      </div>
      <div class="buttons">
        <button type="button" class="btn btn-primary btn-pointer" data-dismiss="modal"
                (click)="saveChangesInLearningRegimeTab()">Save changes
        </button>
        <button type="button" class="btn btn-default btn-pointer" data-dismiss="modal"
                (click)="cancelChangesInLearningRegimeTab()">Cancel</button>
      </div>
    </div>
  </div>
</div>

  <div class="modal fade" id="deleteModel"  tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title">You really want to delete your profile?</h5>
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-primary"
                  data-dismiss="modal"
                  (click)="deleteProfile()" >Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" >No</button>
        </div>

      </div>
    </div>
  </div>

</div>
